extends _layout/layout

block variables
	- var title = 'CP Group'
	- var bodyclass = ''

block css

block body
	include _layout/header-food
	main
		include _layout/food/ct-thucphamga
	include _layout/footer-food