extends _layout/layout

block variables
	- var title = 'CP Group'
	- var bodyclass = ''

block css

block body
	include _layout/header-farm
	main
		include _layout/farm/ct-congiongct
	include _layout/footer-farm