section.banner-wrap.clearfix
	.banner.banner-farm
		.item
			.banner-img
				img(src="img/farm/bn1.jpg", alt="")
			.container
				.banner-caption
					.big Là một doanh nghiệp chăn nuôi chuyên nghiệp
					.des Chúng tôi cùng nông dân Việt Nam phát triển một nền chăn nuôi công nghiệp hiện đại và bền vững để cung cấp thực phẩm an toàn cho người tiêu dùng trong nước và xuất khẩu.
		//- .item
			.banner-img
				img(src="img/farm/bn2.jpg", alt="")
			.container
				.banner-caption
					.big Nuôi trồng thủy sản
					.des CPV áp dụng công nghệ cao trong nhân giống thủy sản (tôm thẻ chân trắng, cá) và có hệ thống kiểm tra, phòng trừ dịch bệnh nghiêm ngặt nhằm cung cấp giống thủy sản chất lượng cao, sạch bệnh cho nhà nông.
		//- .item
			.banner-img
				img(src="img/farm/bn3.jpg", alt="")
			.container
				.banner-caption
					.big Phát triển trang trại xanh, sạch
					.des Đảm bảo một môi trường chăn nuôi xanh sạch và an toàn theo tiêu chuẩn quốc tếGiống lợn CPV là sự kết hợp hài hòa các tính trạng có giá trị kinh tế, mang lại lợi nhuận cao cho người chăn nuôi.