section.home-farm.clearfix
	.container
		h1.home-title.text-center Quy trình chăn nuôi
		.home-des.text-center Các giống vật nuôi của CPV được tạo lập từ nguồn gen tốt nhất của thế giới, được nuôi thích nghi và chọn lọc trong điều kiện Việt Nam để nhân giống theo nhu cầu của thị trường Việt Nam.
		.workflow-list
			.row
				.col-12.col-md-4
					.workflow.ga
						figure
							h3.wf-name Chăn nuôi gia cầm
							.wf-img
								img(src="img/farm/home/1.jpg", alt="")
							figcaption
								.wf-des Phương thức chăn nuôi chuồng kín được sử dụng phổ biến ở các nước phát triển như Nhật, Mỹ, Pháp... với những ưu điểm nổi trội như đảm bảo tối ưu các điều kiện trong chăn nuôi, đảm bảo năng suất...
				.col-12.col-md-4
					.workflow.heo
						figure
							h3.wf-name Chăn nuôi heo
							.wf-img
								img(src="img/farm/home/2.jpg", alt="")
							figcaption
								.wf-des Đàn lợn CPV là sự kết hợp hài hòa các giá trị kinh tế, mang lại lợi nhuận cao cho người chăn nuôi, đảm bảo một môi trường chăn nuôi xanh sạch và an toàn theo tiêu chuẩn quốc tế. 
				.col-12.col-md-4
					.workflow.tom
						figure
							h3.wf-name Nuôi trồng thủy sản
							.wf-img
								img(src="img/farm/home/3.jpg", alt="")
							figcaption
								.wf-des CPV áp dụng công nghệ cao trong nhân giống thủy sản (tôm thẻ chân trắng, cá) và kiểm tra, phòng trừ dịch bệnh nghiêm ngặt nhằm cung cấp giống thủy sản chất lượng cao, sạch bệnh cho nhà nông.
		.workflow-intro.text-center
			h3.wf-name Xử lý chất thải, tái sử dụng nguồn năng lượng và nguồn nước
			.intro-content
				.row
					.col-12.col-md-4
						.img
							img(src="img/farm/home/1s.jpg", alt="")
					.col-12.col-md-4
						.img
							img(src="img/farm/home/2s.jpg", alt="")
					.col-12.col-md-4
						.img
							img(src="img/farm/home/3s.jpg", alt="")
				.content.text-center
					p Ngoài việc cung cấp các giống vật nuôi tốt nhất, chúng tôi còn xử lý chất thải sau chăn nuôi theo công nghệ sinh học Biogas, nồng độ chất thải sau xử lý thấp, hiệu quả xử lý chất thải lên đến 90% đồng thời được thu hồi và sử dụng phục vụ cho nhu cầu cuộc sống.
