section.banner-page.clearfix
	.banner-img
		img(src="img/farm/brcongiong.jpg", alt="")
	.container
		.page-intro
			h1.page-name Con giống
			.intro-content Trải qua quá trình nuôi thích nghi, đánh giá di truyền và chọn lọc, con giống của C.P. Việt Nam có khả năng chống chịu bệnh tốt và mang lại hiệu quả kinh tế cao cho người chăn nuôi.
section.product-page.clearfix
	.container
		h1.page-title.text-center Các loại heo giống
		.page-des.text-center Một số giống heo có ưu điểm đẻ sai, tăng trọng nhanh, mức độ tiêu tốn thức ăn thấp, sức đề kháng cao thích nghi với môi trường và điều kiện chăn nuôi của Việt Nam.
		.pig-list
			.row
				article.col-12.col-sm-6.col-lg-3
					.pig-col
						figure
							a.pig-img(href="#!")
								img(src="img/farm/pig/1.jpg", alt="")
							figcaption
								h3.pig-name
									a(href="#!") Heo con nuôi thịt trọng lượng 20 - 25kg/con
				article.col-12.col-sm-6.col-lg-3
					.pig-col
						figure
							a.pig-img(href="#!")
								img(src="img/farm/pig/2.jpg", alt="")
							figcaption
								h3.pig-name
									a(href="#!") Heo cái hậu bị bô mẹ PS(CP909) trọng lượng 900 - 100 kg/con
				article.col-12.col-sm-6.col-lg-3
					.pig-col
						figure
							a.pig-img(href="#!")
								img(src="img/farm/pig/3.jpg", alt="")
							figcaption
								h3.pig-name
									a(href="#!") Heo đực giống cuối CP709 và CP809 trọng lượng 90 - 100 kg/con dùng để phối giống với heo nái bố mẹ để sản xuất heo thịt thương phẩm
				article.col-12.col-sm-6.col-lg-3
					.pig-col
						figure
							a.pig-img(href="#!")
								img(src="img/farm/pig/4.jpg", alt="")
							figcaption
								h3.pig-name
									a(href="#!") Cung cấp tinh heo đực giống cuối CP709 và CP809 để sản xuất heo thịt thương phẩm
section.pig-system.clearfix
	.container
		h2.page-title.text-center Hệ thống sản xuất heo giống của công ty CPV
		.page-des.text-center Hệ thống sản xuất heo giống của Công ty CPV thực hiện theo mô hình giống hình tháp bao gồm
		.system-chart.text-center
			img(src="img/farm/pig/chart.png", alt="")