section.banner-page.clearfix
	.banner-img
		img(src="img/farm/brgioithieu.jpg", alt="")
	.container
		.page-intro
			h1.page-name Giới thiệu
			.intro-content CP việt Nam ra đời hệ thống các trang trại chăn nuôi rộng khắp cả nước. Các giống vật nuôi của CPV được tạo lập từ nguồn gen tốt nhất của thế giới.
nav.top-nav.clearfix
	ul.top-link
		li
			a(href="#part-1" rel='m_PageScroll2id') Tổng quan
		li
			a(href="#part-2" rel='m_PageScroll2id') Ngành nghề chăn nuôi
		li
			a(href="#part-3" rel='m_PageScroll2id') Nghiên cứu và phát triển
section#part-1.about-section.about-intro.clearfix
	.container
		h2.about-title.text-center Công ty chăn nuôi & con giống C.P. Việt Nam
		.page-des.text-center Với mô hình chăn nuôi hiện đại, CPV đã góp phần không nhỏ vào sự phát triển của ngành chăn nuôi Việt Nam, thúc đẩy quá trình chuyển đổi phương thức sản xuất nhỏ lẻ sang mô hình chăn nuôi công nghiệp tập trung, đã được Bộ NNPTNT tặng bằng khen vào ngày 4 tháng 12 năm 2015.
		.row.no-gutters
			.col-12.col-lg-7
				.intro-img1
					img(src="img/farm/about/img1.jpg", alt="")
			.col-12.col-lg-5
				.intro-content.content
					p Với mong muốn đáp ứng tốt nhất nhu cầu về nguồn thực phẩm sạch và an toàn tuyệt đối cho sức khỏe, CP việt Nam ra đời hệ thống các trang trại chăn nuôi rộng khắp cả nước. Các giống vật nuôi của CPV được tạo lập từ nguồn gen tốt nhất của thế giới. Nuôi thích nghi và chọn lọc trong điều kiện Việt Nam để nhân giống theo nhu cầu đa dạng của thị trường Việt Nam.
				.intro-img2
					img(src="img/farm/about/img2.jpg", alt="")
section#part-2.about-section.about-service.clearfix
	h2.about-title.text-center Ngành nghề chăn nuôi
	.page-des.text-center Quy trình chăn nuôi khép kín chất lượng cao theo tiêu chuẩn quốc tế
	.service-list
		.row.no-gutters
			article.col-12.col-lg-4
				.service-col
					figure
						.service-img
							img(src="img/farm/about/sv1.jpg", alt="")
						figcaption
							h3.service-name Lợn giống
							.service-des Các giống lợn của CPV có nguồn gen từ các các đàn giống cao sản của thế giới, được nhập khẩu, nuôi thích nghi và chọn lọc trong điều kiện Việt Nam. Giống lợn CPV là sự kết hợp hài hòa các tính trạng có giá trị kinh tế, mang lại lợi nhuận cao cho người chăn nuôi CPV đang cung cấp lợn cái hậu bị, lợn đực cuối và lợn con nuôi thịt.
			article.col-12.col-lg-4
				.service-col
					figure
						.service-img
							img(src="img/farm/about/sv2.jpg", alt="")
						figcaption
							h3.service-name Giống gia cầm
							.service-des Các giống gia cầm của CPV (gà thịt, gà đẻ và vịt) được sản xuất từ hệ thống trang trại an toàn sinh học, được tiêm phòng dịch bệnh đầy đủ các loại vác xin theo quy định
			article.col-12.col-lg-4
				.service-col
					figure
						.service-img
							img(src="img/farm/about/sv3.jpg", alt="")
						figcaption
							h3.service-name Giống thủy sản
							.service-des CPV áp dụng công nghệ cao trong nhân giống thủy sản (tôm thẻ chân trắng, cá) và có hệ thống kiểm tra, phòng trừ dịch bệnh nghiêm ngặt nhằm cung cấp giống thủy sản chất lượng cao, sạch bệnh cho nhà nông
section#part-3.about-section.about-improving.clearfix
	h2.about-title.text-center Nghiên cứu và phát triển
	.page-des.text-center Không ngừng nghiên cứu và phát triển công nghệ để mang đến sản phẩm tốt nhất cho người tiêu dùng
	.improve-list
		.row.no-gutters
			article.col-12.col-lg-6
				.improve-col
					figure
						.improve-img
							img(src="img/farm/about/img3.jpg", alt="")
						figcaption
							h3.improve-name Chuyển giao công nghệ
							.improve-des C. P. Việt Nam hợp tác với người dân Việt Nam phát triển các trang trại chăn nuôi công nghiệp về lợn, gà và thủy sản trên khắp các tỉnh thành trong cả nước, trong đó C. P. Việt Nam chú trọng phát triển chăn nuôi ở khu vực xa dân cư trên vùng đất ít có lợi thế trồng trọt nhằm đảm bảo an toàn dịch bệnh, sử dụng nguồn lao động địa phương tại chổ, đồng thời tận dụng nguồn phân bón hữu cơ phát triển hệ thống cây trồng – vật nuôi mới, tăng năng suất cây trồng và gia tăng giá trị trên một đơn vị diện tích đất.
			article.col-12.col-lg-6
				.improve-col
					figure
						.improve-img.improve-img-slide
							.item
								img(src="img/farm/about/img4.jpg", alt="")
							.item
								img(src="img/farm/about/img4.jpg", alt="")
							.item
								img(src="img/farm/about/img4.jpg", alt="")
						figcaption
							h3.improve-name Phòng thí nghiệm
							.improve-des Phòng Thí nghiệm là trung tâm phân tích và xét nghiệm các chỉ tiêu chính xác và đạt chuẩn với  hệ thống máy móc nhập khẩu châu Âu, công nghệ tiên tiến và đội ngũ chuyên gia hàng đầu luôn làm việc nghiêm túc và nhiệt tâm.