section.banner-page.clearfix
	.banner-img
		img(src="img/farm/brquytrinh.jpg", alt="")
	.container
		.page-intro
			h1.page-name Quy trình chăn nuôi
			.intro-content Chúng tôi áp dụng quy trình chăn nuôi khép kín theo tiêu chuẩn quốc tế đồng thời cùng tham vấn cùng đội ngũ chuyên gia tâm huyết và giàu kinh nghiệm.
section.product-page.workflow-intro.clearfix
	.container
		.page-des.text-center Với mô hình chăn nuôi hiện đại, CPV đã góp phần không nhỏ vào sự phát triển của ngành chăn nuôi Việt Nam, thúc đẩy quá trình chuyển đổi phương thức sản xuất nhỏ lẻ sang mô hình chăn nuôi công nghiệp tập trung, đã được Bộ NNPTNT tặng bằng khen vào ngày 4 tháng 12 năm 2015.
		.flow-list
			.flow
				figure
					a.flow-img(href="#!")
						img(src="img/farm/flow1.jpg", alt="")
					figcaption
						.flow-name Chăn nuôi lợn
						.flow-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
			.flow
				figure
					a.flow-img(href="#!")
						img(src="img/farm/flow2.jpg", alt="")
					figcaption
						.flow-name Chăn nuôi gà
						.flow-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
			.flow
				figure
					a.flow-img(href="#!")
						img(src="img/farm/flow3.jpg", alt="")
					figcaption
						.flow-name Chăn nuôi vịt
						.flow-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
			.flow
				figure
					a.flow-img(href="#!")
						img(src="img/farm/flow4.jpg", alt="")
					figcaption
						.flow-name Nuôi tôm
						.flow-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
			.flow
				figure
					a.flow-img(href="#!")
						img(src="img/farm/flow5.jpg", alt="")
					figcaption
						.flow-name Nuôi cá
						.flow-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
