section.banner-page.clearfix
	.banner-img
		img(src="img/farm/brquytrinh.jpg", alt="")
	.container
		.page-intro
			h1.page-name Quy trình chăn nuôi
				br
				|tôm giống
			.intro-content Chúng tôi áp dụng quy trình chăn nuôi khép kín theo tiêu chuẩn quốc tế đồng thời cùng tham vấn cùng đội ngũ chuyên gia tâm huyết và giàu kinh nghiệm.
section.product-page.shrimp-intro.clearfix
	.container
		.page-des.text-center Nhằm góp phần nâng cao ý thức cho người nuôi tôm về vấn đề vệ sinh an toàn thực phẩm để cung cấp tôm sạch, an toàn cho thị trường, C.P. Việt Nam định hướng khách hàng nuôi tôm không kháng sinh, sử dụng các chế phẩm sinh học và sản phẩm an toàn trong quá trình nuôi. Trong đó, các sản phẩm của C.P. Việt Nam luôn được bà con nuôi tôm tin dùng và thực tế C.P. Việt Nam đã giúp bà con ứng dụng nhiều mô hình nuôi tôm thành công.
section.product-page.shrimp-tech.clearfix
	.container
		h2.page-title.text-center Công nghệ chăn nuôi
		.page-des.text-center C.P. Việt Nam đã triển khai mô hình CPF-Combine Program bao gồm: CPF-Green House, CPF-Turbo Program và chương trình 3C và 3S.
		.tech-title.text-center Chương trình 3c
		.tech-wrap
			.tech-img
				img(src="img/farm/shrimp-tech.png", alt="")
			.tech-list
				.tech
					.tech-number 1
					.tech-content
						h3.tech-name CPF-Green House 
						.tech-des là mô hình nuôi tôm trong nhà ương (25 - 30 ngày), sau đó tôm được đưa ra các ao nuôi thương phẩm nhằm mục đích hạn chế được các dịch bệnh nêu trên, tăng sức đề kháng cho tôm, giảm chi phí, tăng vụ nuôi
				.tech
					.tech-number 2
					.tech-content
						h3.tech-name CPF-Turbo Program 
						.tech-des là hệ thống ao nuôi an toàn sinh học có đầy đủ lưới lan, ao có lót bạt, có hố xi phông… và quản lý môi trường ao nuôi bằng chế phẩm sinh học nhằm đạt mục tiêu 3 cao, 1 thấp và không thất bại
				.tech
					.tech-number 3
					.tech-content
						h3.tech-name 3C
						.tech-des tốc độ tăng trưởng cao, tỷ lệ sống cao và số vụ nuôi cao; 1 thấp là FCR thấp và không thiệt hại
		.tech-title.text-center Chương trình 3S
		.tech-list2
			.row
				article.col-12.col-md-4
					.tech-col
						figure
							.tech-img
								img(src="img/farm/tech1.png", alt="")
							figcaption
								h4.tech-name
									a(href="#!") Tôm giống sạch
				article.col-12.col-md-4
					.tech-col
						figure
							.tech-img
								img(src="img/farm/tech2.png", alt="")
							figcaption
								h4.tech-name
									a(href="#!") Nước sạch
				article.col-12.col-md-4
					.tech-col
						figure
							.tech-img
								img(src="img/farm/tech3.png", alt="")
							figcaption
								h4.tech-name
									a(href="#!") Đáy ao sạch
section.product-page.shrimp-kind.clearfix
	h2.page-title.text-center Các loại tôm
	.page-des.text-center Một số loại tôm được nuôi nhiều tại Việt Nam
	.container
		.shrimp-list.clearfix
			.row
				article.col-12.col-sm-6.col-lg-3
					.shrimp-col
						figure
							a.shrimp-img(href="#!")
								img(src="img/farm/shrimp/1.jpg", alt="")
							figcaption
								h4.shrimp-name 
									a(href="#!") Tôm sú
				article.col-12.col-sm-6.col-lg-3
					.shrimp-col
						figure
							a.shrimp-img(href="#!")
								img(src="img/farm/shrimp/2.jpg", alt="")
							figcaption
								h4.shrimp-name 
									a(href="#!") Tôm thẻ chân trắng
				article.col-12.col-sm-6.col-lg-3
					.shrimp-col
						figure
							a.shrimp-img(href="#!")
								img(src="img/farm/shrimp/3.jpg", alt="")
							figcaption
								h4.shrimp-name 
									a(href="#!") Tôm càng xanh
				article.col-12.col-sm-6.col-lg-3
					.shrimp-col
						figure
							a.shrimp-img(href="#!")
								img(src="img/farm/shrimp/4.jpg", alt="")
							figcaption
								h4.shrimp-name 
									a(href="#!") Tôm hùm
