section.banner-wrap.clearfix
	.banner
		.item
			.banner-img
				img(src="img/corp/banner/1.jpg", alt="")
			.container
				.banner-caption
					.big Nhà bếp của thế giới
					.des Thực phẩm của chúng tôi phù hợp các tiêu chuẩn Quốc tế, đáp ứng sự đa dạng của nhiều khách hàng khác nhau với độ ngon tuyệt vời.
		//- .item
			.banner-img
				img(src="img/banner/2.jpg", alt="")
			.container
				.banner-caption
					.big(style="color: #fff") Phát triển trang trại xanh, sạch
					.des(style="color: #fff") Đảm bảo một môi trường chăn nuôi xanh sạch và an toàn theo tiêu chuẩn quốc tếGiống lợn CPV là sự kết hợp hài hòa các tính trạng có giá trị kinh tế, mang lại lợi nhuận cao cho người chăn nuôi.
		//- .item
			.banner-img
				img(src="img/banner/3.jpg", alt="")
			.container
				.banner-caption
					.big(style="color: #fff") Đảm bảo chất lượng, An toàn thực phẩm
					.des(style="color: #fff") Chúng tôi áp dụng tiêu chuẩn công nghệ cao trong sản xuất để đạt được chất lượng và an toàn thực phẩm. Đồng thời chúng tôi luôn ý thức xây dựng thương hiệu là nhằm tuyệt đối khắt khe trong việc đảm bảo chất lượng, an toàn thực phẩm và độ ngon của các sản phẩm thực phẩm của chúng tôi.