section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brgioithieu.jpg", alt="")
	.container
		.page-intro
			h1.page-name Giới thiệu C.P. Việt Nam
			.intro-content CP cam kết tạo ra các sản phẩm thực phẩm có chất lượng  vệ sinh dinh dưỡng  tốt và có mức độ an toàn cao nhất trong khi vẫn giữ được môi trường thân thiện và thực hiện tốt trách nhiệm xã hội.
nav.top-nav.clearfix
	.container
		ul.top-link
			li.active
				a(href="gioithieu.html") Triết lý kinh doanh
			li
				a(href="gioithieu2.html") Tầm nhìn & sứ mệnh
			li
				a(href="gioithieu2.html") Về C.P. Việt Nam
section.about-section.clearfix
	.container
		h2.about-title.text-center Triết lý kinh doanh
		.ceo-list
			.row
				.col-12.col-md-6.col-lg-4
					.ceo-col
						figure
							.ceo-img
								img(src="img/ceo/1.png", alt="")
							figcaption
								.ceo-mess We firmly believe that all parts of society must work together to create the balance in equal harmony among economic, environmental and social factors our country and the world need for a sustainable future.
								.ceo-name Soopakij Chearavanont
								.ceo-cv Chairman
									br
									|Charoen Pokphand Group Co., Ltd.
				.col-12.col-md-6.col-lg-4
					.ceo-col
						figure
							.ceo-img
								img(src="img/ceo/1.png", alt="")
							figcaption
								.ceo-mess We firmly believe that all parts of society must work together to create the balance in equal harmony among economic, environmental and social factors our country and the world need for a sustainable future.
								.ceo-name Soopakij Chearavanont
								.ceo-cv Chairman
									br
									|Charoen Pokphand Group Co., Ltd.
				.col-12.col-md-6.col-lg-4
					.ceo-col
						figure
							.ceo-img
								img(src="img/ceo/1.png", alt="")
							figcaption
								.ceo-mess We firmly believe that all parts of society must work together to create the balance in equal harmony among economic, environmental and social factors our country and the world need for a sustainable future.
								.ceo-name Soopakij Chearavanont
								.ceo-cv Chairman
									br
									|Charoen Pokphand Group Co., Ltd.
	//- .ceo-list
		.trietly
			.container
				.row
					.col-12.col-lg-4.col-xl-5.img
						.ceo-img
							img(src="img/corp/ceo/1.png", alt="")
					.col-12.col-lg-8.col-xl-7.text
						.mes-wrap
							.ceo-mes
								.mes-content.content
									p Chúng ta phải giải thích để xã hội hiểu rằng, trên lĩnh vực thực phẩm, CP chúng ta không phải kinh doanh để nắm độc quyền hay chèn ép nông dân. Bởi vì nông dân vốn đã khó khăn, nếu chúng ta lấy hết tiền trong túi của họ, chúng ta cũng không thể giàu lên được. Chính sách của CP đó là... phải làm sao cho “người nông dân ngày càng giàu có hơn nữa”
								.author Ông 
									strong Dhanin Chearavanont
									br
									|Chủ tịch HĐQT kiêm Chủ tịch Tập đoàn CP
		.trietly
			.container
				.row
					.col-12.col-lg-8.col-xl-7.text
						.mes-wrap
							.ceo-mes
								.mes-content.content
									p Sản phẩm an toàn, chất lượng cao và song hành phát triển bền vững với việc sử sụng có trách nhiệm nguồn kháng sinh.
								.author Ông 
									strong Adirek Sripratak
									br
									|CEO kiêm Chủ tịch CPF
					.col-12.col-lg-4.col-xl-5.img
						.ceo-img
							img(src="img/corp/ceo/2.png", alt="")
		.trietly
			.container
				.row
					.col-12.col-lg-4.col-xl-5.img
						.ceo-img
							img(src="img/corp/ceo/3.png", alt="")
					.col-12.col-lg-8.col-xl-7.text
						.mes-wrap
							.ceo-mes
								.mes-content.content
									p Cha mẹ là người sinh ra ta và nuôi dạy ta khôn lớn cho đến khi học hành tốt nghiệp. Công ty chăm sóc ta, giúp cho ta có thu nhập để phụng dưỡng cha mẹ và nuôi gia đình.
									p Biết hiếu thảo và làm tròn nhiệm vụ sẽ đem lại sự thành công và niềm hạnh phúc trong cuộc sống.
								.author Ông 
									strong Sooksunt Jiumjaiswanglerg
									br
									|CEO kiêm chủ tịch CPF phụ trách ngành Công Nông nghiệp