section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brgioithieu.jpg", alt="")
	.container
		.page-intro
			h1.page-name Giới thiệu C.P. Việt Nam
			.intro-content CP cam kết tạo ra các sản phẩm thực phẩm có chất lượng  vệ sinh dinh dưỡng  tốt và có mức độ an toàn cao nhất trong khi vẫn giữ được môi trường thân thiện và thực hiện tốt trách nhiệm xã hội.
nav.top-nav.clearfix
	.container
		ul.top-link
			li
				a(href="gioithieu.html") Triết lý kinh doanh
			li
				a(href="gioithieu2.html") Tầm nhìn & sứ mệnh
			li.active
				a(href="gioithieu2.html") Về C.P. Việt Nam
section.about-section.about-cp.clearfix
	.container
		h2.about-title.text-center Giới thiệu công ty Cổ phần Chăn nuôi C.P. Việt Nam
		.row
			.col-12.col-md-6.col-lg-5
				.about-profile
					.img
						img(src="img/corp/about/company.jpg", alt="")
			.col-12.col-md-6.col-lg-7
				.about-content.content
					p 
						strong Tập đoàn Charoen Pokphand (C.P) Thái Lan 
						|đầu tư vào Việt Nam từ năm 1988, sau khi Việt Nam mở cửa năm 1986 theo chủ trương Đổi mới, với hình thức mở văn phòng đại diện tại TP. Hồ Chí Minh. 
					p Năm 1993 thành lập 
						strong Công ty TNHH Chăn Nuôi C.P. Việt Nam (C.P. Việt Nam Livestock Co., Ltd) 
						|và xây nhà máy sản xuất thức ăn chăn nuôi tại Khu Công Nghiệp Biên Hòa 2, TP. Biên Hòa, tỉnh Đồng Nai, đồng thời là trụ sở chính của Công ty cho tới ngày nay. 
					p Năm 2009 Công ty TNHH Chăn Nuôi C.P. Việt Nam hợp nhất với Công ty TNHH Charoen Pokphand Việt Nam thành 
						strong Công ty Cổ Phần Chăn Nuôi C.P.Việt Nam (C.P. Vietnam Livestock Corporation) 
						|và sau đó vào năm 2011 tên tiếng Anh của công ty được đổi thành C.P.Vietnam Corporation. 
					p C.P.Việt Nam hoạt động trong 
						strong lĩnh vực Nông - Công nghiệp và chế biến thực phẩm khép kín
						|, chủ yếu trên các đối tượng vật nuôi gia súc , gia cầm và thủy sản. Trong đó, đặc biệt chú trọng đến việc áp dụng các hệ thống tiêu chuẩn và công nghệ hiện đại vào thực tiễn sản xuất tại Việt Nam.
					.btn-wrap
						a.btn-download(href="#!") Tải về Profile C.P. Việt Nam
nav.top-nav.top-nav2.clearfix
	.container
		ul.top-link
			li
				a(href="#part1" rel='m_PageScroll2id') Thông điệp
			li
				a(href="#part2" rel='m_PageScroll2id') Giá trị cốt lõi
			li
				a(href="#part3" rel='m_PageScroll2id') Lịch sử phát triển
			li
				a(href="#part4" rel='m_PageScroll2id') Cơ cấu cổ đông
			li
				a(href="#part5" rel='m_PageScroll2id') Hệ thống tổ chức
section#part1.about-section.about-ceo.clearfix
	.container
		h2.about-title.text-center Thông điệp từ tổng giám đốc
		.row
			.col-12.col-lg-7.col-xl-6
				.ceo-mes
					.caption Biết ơn và đền ơn chúng ta sẽ có tất cả
					.content Tôi nghĩ rằng phẩm hạnh cao quý nhất của mỗi con người là sự biết ơn và đền ơn. Một đất nước phát triển, văn minh phải bao gồm nhiều cá nhân, doanh nghiệp, tổ chức luôn có lòng biết ơn và sẵn sàng đền ơn.
					.author Ông 
						strong Montri Suwanposri
						br
						|Tổng giám đốc Công ty Cổ phần Chăn nuôi C.P. Việt Nam
			.col-12.col-xl-1
			.col-12.col-lg-5.col-xl-4
				.ceo-img
					img(src="img/corp/about/ceo1.jpg", alt="")
			.col-12.col-xl-1
section#part2.about-section.about-value
	.container
		h2.about-title.text-center Giá trị cốt lõi
		.row
			.col-12.col-lg-6
				.value-img
					.img
						img(src="img/corp/about/value.jpg", alt="")
			.col-12.col-lg-6
				.value-list
					.row
						.col-12.col-md-6
							.value
								figure
									.icon
										img(src="img/corp/about/v1.png", alt="")
									figcaption Ba lợi ích hướng tới sự bền vững
						.col-12.col-md-6
							.value
								figure
									.icon
										img(src="img/corp/about/v2.png", alt="")
									figcaption Làm việc nhanh và chất lượng
						.col-12.col-md-6
							.value
								figure
									.icon
										img(src="img/corp/about/v3.png", alt="")
									figcaption Biến việc khó thành dễ
						.col-12.col-md-6
							.value
								figure
									.icon
										img(src="img/corp/about/v4.png", alt="")
									figcaption Chấp nhận sự thay đổi
						.col-12.col-md-6
							.value
								figure
									.icon
										img(src="img/corp/about/v5.png", alt="")
									figcaption Sáng tạo
						.col-12.col-md-6
							.value
								figure
									.icon
										img(src="img/corp/about/v6.png", alt="")
									figcaption Có đạo đức, trung thực và biết ơn
section#part3.about-section.about-history
	.container
		h2.about-title.text-center Lịch sử phát triển
		.home-des.text-center Tập đoàn C.P bắt đầu vào Việt Nam năm 1988 với văn phòng đại diện tại TP. Hồ Chí Minh. Năm 1993 thành lập Công ty TNHH Chăn Nuôi C.P. Việt Nam, có trụ sở chính tại Khu Công nghiệp Biên Hoà 2, TP. Biên Hoà, tỉnh Đồng Nai. Năm 2011 đổi tên thành Công ty Cổ phần Chăn nuôi C.P. Việt Nam (CPV).
	.history-wrap
		a.history-img(href="img/corp/about/history.png" data-fancybox="history")
			img(src="img/corp/about/history.png", alt="")
section#part4.about-section.about-corporate
	.container
		h2.about-title.text-center Cơ cấu cổ đông
		.home-des.text-center Cơ cấu cổ đông của Công ty cổ phần chăn nuôi C.P. Việt Nam
		.company-structure
			.content
				//- p.text-center 
				figure
					img(src="img/corp/st1.png", alt="")
				br
				br
				.row
					.col-12.col-lg-7
						p <strong>Công ty Cổ phần C.P. Việt Nam (C.P. Việt Nam)</strong> do <strong>Charoen Pokphand Foods Public Company Limited</strong> (gọi tắt là <strong>“CPF”</strong>), thuộc tập đoàn C.P. Thái Lan, sở hữu và kiểm soát thông qua cơ cấu như sau:
						ul
							li CPF trực tiếp nắm giữ <strong>29,18%</strong> cổ phần tại C.P. Việt Nam; 
							li CPF gián tiếp nắm giữ <strong>70,82%</strong> cổ phần tại C.P. Việt Nam thông qua việc nắm giữ cổ phần kiểm soát tại C.P. Pokphand Co., Ltd.
						p <strong>C.P. Pokphand Co., Ltd. (gọi tắt là “CPP”)</strong> là công ty có cổ phiếu niêm yết tại thị trường chứng khoán Hong Kong. Với mức cổ phần kiểm soát 76,08% do CPF nắm giữ, CPP là một công ty con thuộc CPF và tập đoàn C.P. Thái Lan.
						p Bằng việc nắm giữ cổ phần kiểm soát tại CPP nêu trên và trực tiếp sở hữu 29,18% cổ phần tại C.P. Việt Nam, CPF kiểm soát hoàn toàn các hoạt động đầu tư và kinh doanh của C.P. Việt Nam.
					.col-12.col-lg-5
						figure
							img(src="img/corp/ab1.jpg", alt="")
							figcaption <strong>Ban lãnh đạo cấp cao Tập đoàn CP</strong>
					.col-12.col-lg-5
						figure
							img(src="img/corp/ab2.jpg", alt="")
							figcaption <strong>Trụ sở chính Tập đoàn CP tại 313 Silom Road, Silom, Bangkok, Thailand</strong>
					.col-12.col-lg-7
						p Ngài Dhanin Chearavanont, quốc tịch Thái Lan, là chủ tịch Hội đồng quản trị của CPP, và đồng thời là chủ tịch của tập đoàn C.P. Thái Lan. Tất cả hoạt động của C.P. Việt Nam do Tổng giám đốc người Thái Lan lãnh đạo và được điều hành bởi đội ngũ người Thái Lan và Việt Nam.
						p CPF và CPP là các công ty niêm yết trên Sở giao dịch chứng khoán Thái Lan (Stock Exchange of Thailand - SET) và Sở giao dịch chứng khoán Hong Kong (Hong Kong Stock Exchange – SEHK), tuân thủ các quy định nghiêm ngặt về công bố và minh bạch thông tin của các sở giao dịch chứng khoán nói trên.
						p Mọi thông tin về cơ cấu cổ đông, ban điều hành, tài chính … của CPF và CPP đều được công bố và truy cập dễ dàng trên các website của 2 doanh nghiệp này tại các địa chỉ:
							br
							|<strong>CPF:</strong> 
							a(href="http://www.cpfworldwide.com") http://www.cpfworldwide.com 
							|và <strong>CPP:</strong> 
							a(href="http://www.cpp.hk") http://www.cpp.hk
section#part5.about-section.about-company
	.container
		h2.about-title.text-center Hệ thống tổ chức
		.content.text-center
			img(src="img/corp/httc.png", alt="")