section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brgioithieu.jpg", alt="")
	.container
		.page-intro
			h1.page-name Giới thiệu C.P. Việt Nam
			.intro-content CP cam kết tạo ra các sản phẩm thực phẩm có chất lượng  vệ sinh dinh dưỡng  tốt và có mức độ an toàn cao nhất trong khi vẫn giữ được môi trường thân thiện và thực hiện tốt trách nhiệm xã hội.
nav.top-nav.clearfix
	.container
		ul.top-link
			li
				a(href="gioithieu.html") Triết lý kinh doanh
			li.active
				a(href="gioithieu2.html") Tầm nhìn & sứ mệnh
			li
				a(href="gioithieu2.html") Về C.P. Việt Nam
section.about-section.about-intro.clearfix
	.container
		h3.about-title.text-center Tầm nhìn
		h2.intro-title Nhà bếp của thế giới
		.home-des.text-center Khát khao của chúng tôi là trở thành doanh nghiệp thực phẩm hàng đầu thế giới với sứ mệnh mang đến giải pháp an toàn nhất cho sức khỏe người tiêu dùng
		.world-map
			img(src="img/corp/about/map.png", alt="")
section.about-section.about-mission.clearfix
	.container
		h3.about-title.text-center Sứ mệnh
		.mission-list
			.row
				.col-12.col-sm-6.col-lg-3
					.mission
						figure
							.icon
								img(src="img/corp/about/i1.png", alt="")
							figcaption
								.title Đối với công ty
								.des Xây dựng doanh nghiệp lớn mạnh, kinh doanh có lợi nhuận và bền vững nhằm xây dựng lòng tin cho nhà đầu tư và cổ đông.
				.col-12.col-sm-6.col-lg-3
					.mission
						figure
							.icon
								img(src="img/corp/about/i2.png", alt="")
							figcaption
								.title Đối với khách hàng
								.des Đem lại sự thành công cho khách hàng bằng cách phục vụ khách hàng một cách chân thành, trung thực và công bằng.
				.col-12.col-sm-6.col-lg-3
					.mission
						figure
							.icon
								img(src="img/corp/about/i3.png", alt="")
							figcaption
								.title Đối với nhân viên
								.des Phát triển và khuyến khích nhân viên các cấp trở thành người giỏi, người tốt theo giá trị cố lõi của tổ chức, bao gồm cả việc quan tâm chăm sóc nhân viên được hạnh phúc và thu nhập tốt.
				.col-12.col-sm-6.col-lg-3
					.mission
						figure
							.icon
								img(src="img/corp/about/i4.png", alt="")
							figcaption
								.title Đối với xã hội
								.des Có trách nhiệm với xã hội thể hiện qua việc sản xuất hàng hoá có chất lượng, sạch, an toàn và thân thiện với môi trường, đồng thời góp phần vào các hoạt động đền ơn đáp nghĩa Tổ quốc (CSR).
//- section.about-section.about-value.clearfix
	.container
		h3.about-title.text-center Giá trị cốt lõi
		.row.justify-content-center
			.col-12.col-md-10.col-lg-8.col-xl-6
				.value-list
					.row
						.col-12.col-sm-6
							.value
								figure
									.icon
										img(src="img/corp/about/v1.png", alt="")
									figcaption Ba lợi ích hướng tới sự bền vững
						.col-12.col-sm-6
							.value
								figure
									.icon
										img(src="img/corp/about/v2.png", alt="")
									figcaption Làm việc nhanh và chất lượng
						.col-12.col-sm-6
							.value
								figure
									.icon
										img(src="img/corp/about/v3.png", alt="")
									figcaption Biến việc khó thành dễ
						.col-12.col-sm-6
							.value
								figure
									.icon
										img(src="img/corp/about/v4.png", alt="")
									figcaption Chấp nhận sự thay đổi
						.col-12.col-sm-6
							.value
								figure
									.icon
										img(src="img/corp/about/v5.png", alt="")
									figcaption Sáng tạo
						.col-12.col-sm-6
							.value
								figure
									.icon
										img(src="img/corp/about/v6.png", alt="")
									figcaption Có đạo đức, trung thực và biết đền ơn
