section.banner-page.clearfix
	.banner-img
		img(src="img/corp/br1.jpg", alt="")
	.container
		.page-intro
			h1.page-name Giới thiệu C.P. Việt Nam
			.intro-content C.P. Việt Nam cam kết sản xuất các sản phẩm thực phẩm có chất lượng đảm bảo vệ sinh và có mức độ an toàn cao nhất trong khi vẫn giữ được môi trường thân thiện và trách nhiệm xã hội.
nav.top-nav.clearfix
	ul.top-link
		li
			a(href="#part-1" rel='m_PageScroll2id') Tổng quan
		li
			a(href="#part-2" rel='m_PageScroll2id') Ngành nghề kinh doanh
		li
			a(href="#part-3" rel='m_PageScroll2id') Nghiên cứu và phát triển
		li
			a(href="#part-4" rel='m_PageScroll2id') Quản lý chất lượng
section#part-1.about-section.about-intro.clearfix
	.container
		h2.page-title.text-center Nhà bếp của thế giới
		.page-des.text-center Chúng tôi luôn ý thức xây dựng thương hiệu bằng việc tuyệt đối khắt khe trong tất cả quy trình để đảm bảo tạo ra sản phẩm chất lượng và an toàn hàng đầu.
		nav.child-nav.clearfix
			ul
				li
					a(href="gioithieu.html") Tầm nhìn & Sứ mệnh
				li
					a(href="gioithieu2.html") Giá trị cốt lõi
				li
					a(href="gioithieu3.html") Thông điệp từ Tổng giám đốc
				li
					a(href="gioithieu4.html") Lịch sử phát triển
				li
					a(href="gioithieu5.html") Cơ cấu cổ đông
				li.active
					a(href="gioithieu6.html") Hệ thống tổ chức
				li
					a(href="gioithieu7.html") Hệ thống chi nhánh
				li
					a(href="gioithieu8.html") Giải thưởng
		.company-system
			img(src="img/corp/httc.png", alt="")

section#part-2.about-section.about-service.clearfix
	.container
		h2.page-title.text-center Ngành nghề kinh doanh
		.page-des.text-center Quy trình khép kín từ trồng nguyên liệu cho đến sản xuất thức ăn thành phẩm
	.service-list
		.row
			article.col-12.col-md-4
				.service-col
					figure
						a.service-img(href="#!")
							img(src="img/corp/s1.jpg", alt="")
						figcaption
							h3.service-name 
								a(href="#!") Thức ăn chăn nuôi
							.service-des Nhà máy thức ăn chăn nuôi Hải Dương, một trong số nhà máy thế hệ mới của thế giới, được thiết kế và xây dựng bằng công nghệ hiện đại, đoạt giải thưởng “Đại bàng” của Mỹ.
			article.col-12.col-md-4
				.service-col
					figure
						a.service-img(href="#!")
							img(src="img/corp/s2.jpg", alt="")
						figcaption
							h3.service-name 
								a(href="#!") Con giống
							.service-des Các giống vật nuôi của CPV được tạo lập từ nguồn gen tốt nhất của thế giới. Nuôi thích nghi và chọn lọc trong điều kiện Việt Nam để nhân giống theo nhu cầu của thị trường Việt Nam.
			article.col-12.col-md-4
				.service-col
					figure
						a.service-img(href="#!")
							img(src="img/corp/s3.jpg", alt="")
						figcaption
							h3.service-name 
								a(href="#!") Sản phẩm thực phẩm
							.service-des Sản phẩm CP được sản xuất theo tiêu chuẩn Quốc tế từ hệ thống khép kín của Công ty Cổ phần Chăn nuôi C.P. Việt Nam bao gồm các sản phẩm tươi như thịt gà, thịt vịt, trứng gà, thịt lợn; và các sản phẩm chín chế biến như xúc xích, lạp xưởng, gà Năm sao.
section#part-3.about-section.about-improving.clearfix
	.container
		h2.page-title.text-center Nghiên cứu và phát triển
		.page-des.text-center Không ngừng nghiên cứu và phát triển công nghệ để mang đến sản phẩm tốt nhất cho người tiêu dùng
	.improve-list
		.row.no-gutters
			article.col-12.col-lg-6
				.improve-col
					figure
						.improve-img
							img(src="img/feed/about1.jpg", alt="")
						figcaption
							h3.improve-name Phòng điều khiển
							.improve-des Các nhà máy chế biến thực phẩm (thịt và thủy sản) chất lượng cao, đạt tiêu chuẩn quốc tế được CPV đầu tư xây dựng tại các địa bàn Đồng Nai, Hà Nội, Bến Tre và Thừa Thiên – Huế. Đồng thời, CPV đang đẩy mạnh phát triển hệ thống phân phối thực phẩm sạch, an toàn, đảm bảo chất lượng đến người tiêu dùng thông qua các kênh như CP Shop, Fresh Mart và hệ thống các siêu thị trên toàn quốc. 
			article.col-12.col-lg-6
				.improve-col
					figure
						.improve-img.improve-img-slide
							.item
								img(src="img/feed/about2.jpg", alt="")
							.item
								img(src="img/feed/about2.jpg", alt="")
							.item
								img(src="img/feed/about2.jpg", alt="")
						figcaption
							h3.improve-name Phòng thí nghiệm
							.improve-des Phòng Thí nghiệm là trung tâm phân tích và xét nghiệm các chỉ tiêu chính xác và đạt chuẩn với  hệ thống máy móc nhập khẩu châu Âu, công nghệ tiên tiến và đội ngũ chuyên gia hàng đầu luôn làm việc nghiêm túc và nhiệt tâm.
section#part-4.about-section.about-quality.clearfix
	.container
		h2.page-title.text-center Quản lý chất lượng
		.page-des.text-center CPV đã đạt nhiều chứng nhận trong nước và quốc tế
	.quality-banner
		img(src="img/corp/qlbn.jpg", alt="")
	.container
		.cert-list
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award1.png" data-fancybox="cert")
							img(src="img/feed/award1.png", alt="")
						figcaption
							h3.cert-name Giải vàng chất lượng Quốc gia năm 2013
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award2.png" data-fancybox="cert")
							img(src="img/feed/award2.png", alt="")
						figcaption
							h3.cert-name Giải thưởng tình nguyện Quốc gia năm 2013
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award3.png" data-fancybox="cert")
							img(src="img/feed/award3.png", alt="")
						figcaption
							h3.cert-name Chứng nhận Asean Excellent Enterprise and Businessman
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award4.png" data-fancybox="cert")
							img(src="img/feed/award4.png", alt="")
						figcaption
							h3.cert-name Chứng chỉ ISO 14001:2004
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award1.png" data-fancybox="cert")
							img(src="img/feed/award1.png", alt="")
						figcaption
							h3.cert-name Giải vàng chất lượng Quốc gia năm 2013
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award2.png" data-fancybox="cert")
							img(src="img/feed/award2.png", alt="")
						figcaption
							h3.cert-name Giải thưởng tình nguyện Quốc gia năm 2013