// NEW HOME
section.home-service
	.container
		h1.home-title.text-center Mô hình khép kín
		.home-des.text-center Mô hình khép kín của công ty C.P Việt Nam được tổ chức theo 3 lĩnh vực chính: Thức ăn chăn nuôi (Feed), Trang trại chăn nuôi (Farm), Chế biến thực phẩm (Food) để đảm bảo cam kết tuyệt đối về chất lượng sản phẩm từ khâu sản xuất đến thành phẩm.
		.workflow-list
			.row
				article.col-12.col-md-4
					.workflow.feed
						figure
							h2.wf-name Feed
							.wf-intro Nhà máy chế biến thức ăn chăn nuôi
							.wf-img
								img(src="img/corp/home/1.jpg", alt="")
							.wf-subname Thức ăn chăn nuôi
							.wf-product
								img(src="img/corp/home/wfpr1.png", alt="")
				article.col-12.col-md-4
					.workflow.farm
						figure
							h2.wf-name Farm
							.wf-intro Trang trại và con giống
							.wf-img
								img(src="img/corp/home/2.jpg", alt="")
							.wf-subname Thực phẩm tươi sống
							.wf-product
								img(src="img/corp/home/wfpr2.png", alt="")
				article.col-12.col-md-4
					.workflow.food
						figure
							h2.wf-name Food
							.wf-intro Chế biến và thành phẩm
							.wf-img
								img(src="img/corp/home/3.jpg", alt="")
							.wf-subname Thực phẩm chế biến
							.wf-product
								img(src="img/corp/home/wfpr3.png", alt="")
		.row
			.col-12.col-lg-6
				.wf-brand
					.wf-name FEED
					.brand-list
						.brand
							img(src="img/corp/home/b1.png", alt="")
						.brand
							img(src="img/corp/home/b2.png", alt="")
						.brand
							img(src="img/corp/home/b3.png", alt="")
						.brand
							img(src="img/corp/home/b4.png", alt="")
						.brand
							img(src="img/corp/home/b5.png", alt="")
			.col-12.col-lg-6
				.wf-brand
					.wf-name FOOD
					.brand-list
						.brand
							img(src="img/corp/home/b6.png", alt="")
						.brand
							img(src="img/corp/home/b7.png", alt="")
						.brand
							img(src="img/corp/home/b8.png", alt="")
						//- .brand
							img(src="img/home/b4.png", alt="")
						//- .brand
							img(src="img/home/b4.png", alt="")


// OLD HOME
//- .container
	section.home-product.clearfix
		h1.home-title.text-center Sản phẩm của C.P. Việt nam 
		.row
			.col-12.col-md-4
				.product-col
					figure
						a.product-img(href="feed.htm" target='_blank')
							img(src="img/home/sp1.jpg", alt="")
						figcaption
							h2.product-name
								a(href="feed.htm" target='_blank') FEED
							.product-des Thức ăn chăn nuôi
							.product-icon 
								img(src="img/home/spic1.png", alt="")
			.col-12.col-md-4
				.product-col
					figure
						a.product-img(href="farm.htm" target='_blank')
							img(src="img/home/sp2.jpg", alt="")
						figcaption
							h2.product-name
								a(href="farm.htm" target='_blank') FARM
							.product-des Con giống
							.product-icon 
								img(src="img/home/spic2.png", alt="")
			.col-12.col-md-4
				.product-col
					figure
						a.product-img(href="food.html" target='_blank')
							img(src="img/home/sp3.jpg", alt="")
						figcaption
							h2.product-name
								a(href="food.html" target='_blank') FOOD
							.product-des Sản phẩm thực phẩm
							.product-icon 
								img(src="img/home/spic3.png", alt="")
	section.home-section.clearfix
		h2.home-title.text-center Phát triển bền vững
		.improve-wrap
			.improve-table
				.table-cell
					img(src="img/corp/home/t1.jpg", alt="")
				.table-cell
					img(src="img/corp/home/t2.jpg", alt="")
				.table-cell
					img(src="img/corp/home/t3.jpg", alt="")
				.table-cell
					img(src="img/corp/home/t4.jpg", alt="")
					a.btn-download(href="#!") Báo cáo phát triển bền vững 2016
	section.home-section.home-news.clearfix
		h2.home-title.text-center Hoạt động xã hội
		.row
			.col-12.col-lg-9
				.news-list
					.row
						article.col-12.col-lg-4
							.news-col
								figure
									.news-img
										img(src="img/corp/news/1.jpg", alt="")
									figcaption
										time 06/12/2017
										h3.news-name
											a(href="#!") C.P. Việt Nam tự hào nằm trong Top 100 Doanh nghiệp phát triển bền vững của Việt Nam năm 2017
										a.link(href="#!") Xem thêm
						article.col-12.col-lg-4
							.news-col
								figure
									.news-img
										img(src="img/corp/news/2.jpg", alt="")
									figcaption
										time 25/12/2017
										h3.news-name
											a(href="#!") Phát triển bền vững là “Giấy thông hành thế hệ mới” cho doanh nghiệp ra toàn cầu
										a.link(href="#!") Xem thêm 
						article.col-12.col-lg-4
							.news-col
								figure
									.news-img
										img(src="img/corp/news/3.jpg", alt="")
									figcaption
										time 20/01/2018
										h3.news-name
											a(href="#!") C.P. Việt Nam tham gia tổ chức chiến dịch tình nguyện năm 2018
										a.link(href="#!") Xem thêm 
			.col-12.col-lg-3
				section.home-newspaper
					h4.title Thông cáo báo chí
					nav.post-list
						ul
							li
								a(href="#!") C.P. Việt Nam nhận giải “Thương hiệu vàng Nông nghiệp Việt Nam”
							li
								a(href="#!") C.P. Việt Nam “Nâng bước tới trường 2015” cho HS-SV nghèo vượt khó tại tỉnh Bến Tre.
							li
								a(href="#!") Công ty cổ phần chăn nuôi C.P.Việt Nam đồng hành cùng Hành trình Đỏ- 2015
							li
								a(href="#!") “Ngày hội thầy thuốc trẻ làm theo lời Bác, tình nguyện vì sức khỏe cộng đồng năm 2015”
	section.home-brand.clearfix
		.label Thương hiệu
		.brand-slide
			.item
				a.brand(href="#")
					img(src="img/brand/1.png", alt="")
			.item
				a.brand(href="#")
					img(src="img/brand/2.png", alt="")
			.item
				a.brand(href="#")
					img(src="img/brand/3.png", alt="")
			.item
				a.brand(href="#")
					img(src="img/brand/4.png", alt="")
			.item
				a.brand(href="#")
					img(src="img/brand/5.png", alt="")
			.item
				a.brand(href="#")
					img(src="img/brand/6.png", alt="")
			.item
				a.brand(href="#")
					img(src="img/brand/7.png", alt="")
			.item
				a.brand(href="#")
					img(src="img/brand/8.png", alt="")