section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brlienhe.jpg", alt="")
	.container
		.page-intro
			h1.page-name Liên hệ
			.intro-content Lắng nghe khách hàng, đối tác, nhân viên là cách Cp hoàn thiện từng ngày và ngày một vươn xa. 
section.contact-page.clearfix
	.container
		h2.page-title.text-center Công ty cổ phần chăn nuôi C.P. Việt Nam
		.row
			.col-12.col-lg-8
				.contact-form
					.form-wrap.form-row
						.form-group.col-12.col-md-6
							input.form-control(type="text" placeholder="Họ tên")
						.form-group.col-12.col-md-6
							input.form-control(type="text" placeholder="Email")
						.form-group.col-12.col-md-6
							input.form-control(type="text" placeholder="Số điện thoại")
						.form-group.col-12.col-md-6
							input.form-control(type="text" placeholder="Tiêu đề")
						.form-group.col-12
							textarea.form-control(name="", cols="30", rows="7", placeholder="Nội dung")
					.frm-btn
						input.btn.btn-primary(type="submit" value="Gửi")
			.col-12.col-lg-4
				.contact-info
					.title Văn phòng
					ul
						li <i class="fa fa-home" aria-hidden="true"></i>Số 2 đường 2A, khu công nghiệp Biên Hoà II, P. Long Bình Tân, Tp. Biên Hoà, Tỉnh Đồng Nai
						li <i class="fa fa-phone" aria-hidden="true"></i>0251 3836 251, 252,....259
						li <i class="fa fa-fax" aria-hidden="true"></i>0251 3836 086
						li <i class="fa fa-envelope" aria-hidden="true"></i>
							a(href="mailto:info@cp.com.vn") info@cp.com.vn
						li <i class="fa fa-globe" aria-hidden="true"></i>
							a(href="http://www.cp.com.vn") www.cp.com.vn
			.col-12
				.contact-map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6588.365232028055!2d106.85809727500906!3d10.928173609001488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174df0295468a2d%3A0xa7e6705988755f74!2zQy5QLiBWaWV0bmFtIENvcnBvcmF0aW9uIC0gQ8O0bmcgdHkgQ-G7lSBQaOG6p24gQ2jEg24gTnXDtGkgQ1AgVmnhu4d0IE5hbQ!5e0!3m2!1sen!2s!4v1512378869066', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
