section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brnhansu.jpg", alt="")
	.container
		.page-intro
			h1.page-name Nhân sự
			.intro-content CP tin rằng nhân viên chính là nguồn lực quý báo và là chìa khóa quan trọng trong hành trình thành công của chúng tôi.
section.career-page.clearfix
	.container
		h1.page-title.text-center Chính sách nhân sự
		.row
			.col-12.col-lg-8.col-xl-9
				.career-content
					.content
						p 
							strong 1. Đào tạo và phát triển
						p Đào tạo và phát triển là phương châm của C.P. Việt Nam nhằm giúp đội ngũ nhân sự phát huy tối đa tiềm năng và định hướng nghề nghiệp, phù hợp với từng cá nhân, giúp nhân sự ngày càng phát triển bản thân và trở thành các nhà lãnh đạo trong tương lai.
						p Các chương trình đào tạo bao gồm:
						ul
							li Đào tạo hội nhập cho tất cả CBNV
							li Đào tạo kỹ năng nghề nghiệp ngắn hạn, chuyên sâu, nâng cao tay nghề cho nhân viên
							li Đào tạo đội ngũ lãnh đạo tiềm năng
						p 
							strong 2. Môi trường làm việc Trẻ - Năng động
						p Chúng tôi không ngừng cải thiện môi trường làm việc, điều kiện làm việc để tạo sự thoái mái nhất cho CBNV khi làm việc tại C.P. Việt Nam
						p Khi bạn đến với C.P. Việt Nam bạn sẽ ngạc nhiên về một đội ngũ trẻ - năng động - nhiệt huyết - tự tin và đặc biệt rất hòa đồng và thân thiện.
						p 
							strong 3. Hệ thống lương - thưởng
						ul
							li Tăng lương: Định kỳ xét tăng lương theo định kỳ 1 năm/lần. Thời gian xét tăng lương từ đầu năm. Tỷ lệ xét tăng lương dựa trên hiệu quả làm việc của năm trước đó
							li Thưởng quý: Hằng quý dựa trên kết quả đánh giá KPI, công ty sẽ khen thưởng cho các cá nhân và tập thể có thành tích làm việc tốt, ngoài ra tập đoàn còn vinh danh và bình chọn các cá nhân và tập thể để vinh danh và trao bằng khen cho các thành tích trong kỳ.
							li Thưởng năm: C.P. Việt Nam luôn luôn đứng đầu so với các Công ty cùng ngành nghề về các khoản thưởng cuối năm. Liên tục từ các năm 2014-2016 mỗi CBNV được thưởng từ 3-8 tháng lương vào cuối năm
							li Thưởng ESOP: Đối với cấp quản lý của tập đoàn từ cấp 4 (Trưởng Bộ phận trở lên) hằng năm đều có chính sách thưởng cổ phiếu theo thâm niên, thang cấp bậc và hiệu quả làm việc. Đây các các khoản thưởng có giá trị lớn giúp CBNV có thể tích lũy và yên tâm đóng góp lâu dài cho tập đoàn
							li Thưởng vượt chỉ tiêu: Hằng năm ban điều hành sẽ được thêm một khoản thưởng vượt chỉ tiêu lợi nhuận căn cứ trên tỷ lệ được đại hội đồng cổ đông thông qua, đây cũng là sự ghi nhận sự cống hiến và nổ lực của tập thể quản lý C.P. Việt Nam trong công tác quản trị hướng đến hiệu quả vượt mong đợi của cổ đông.
						p 
							strong 4. Chính sách phúc lợi
						p C.P. Việt Nam là một trong những đơn vị có hệ thống có hệ thống phúc lợi tốt nhất trên thị trường hiện nay.
						ul
							li Chính sách mua bảo hiểm chăm sóc sức khỏe và bảo hiểm tai nạn 24/24 cho CBNV.
							li Chính sách khuyến học cho con em cán bộ quản lý, CBNV
							li Chương trình du lịch cho CBNV và người thân
							li Khám sức khỏe tổng quát, định kỳ hằng năm cho CBNV
							li Chính sách chăm lo đời sống CBNV: quà sinh nhật, quà Tết Nguyên Đán, Trung thu, Quốc tế Phụ nữ, quà cưới, thăm hỏi…
							li Hỗ trợ ăn trưa, đi công tác, điện thoại liên lạc…
							li Dịch vụ thể thao miễn phí hằng tuần cho CBNV giao lưu, rèn luyện sức khỏe
							li Hỗ trợ nhà ở: Mua nhà của Tập Đoàn với giá có thể giảm đến 15% so với giá bán của thị trường. CBNV chỉ phải trả trước 50% giá trị căn nhà theo tiến độ xây dựng, 50% còn lại trả góp trong vòng 5 năm kể từ ngày nhận nhà mà không phải trả lãi suất.
							li Tặng nhà: Dành cho những CBNV có nhiều thành tích, có sự gắn bó lâu dài với Tập Đoàn
						p 
							strong 5. Chia sẻ trách nhiệm với xã hội
						p C.P. Việt Nam vinh hạnh là một trong những đơn vị đóng góp ngân sách cao nhất tại Quận Bình Thạnh theo thống kê của cục thuế Tp. HCM. Ngoài ra Các chương trình thăm và tặng quà cho trẻ em nghèo tại các trung tâm trong và ngoài Thành phố được tổ chức hằng năm công với các chương trình xây nhà tình thương tình nghĩa như là một trách nhiệm buộc phải thực hiện để giúp những cảnh đời bất hạnh có cơ hội vươn lên thay đổi cuộc sống.
			.col-12.col-lg-4.col-xl-3
				nav.sidebar-category
					ul
						li.active
							a(href="#!") Chính sách nhân sự
						li
							a(href="#!") Phát triển nghề nghiệp
						li
							a(href="#!") Cơ hội nghề nghiệp
						li
							a(href="#!") Thắc mắc thường gặp