section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brnhansu.jpg", alt="")
	.container
		.page-intro
			h1.page-name Nhân sự
			.intro-content CP tin rằng nhân viên chính là nguồn lực quý báo và là chìa khóa quan trọng trong hành trình thành công của chúng tôi.
section.career-page.clearfix
	.container
		h1.page-title.text-center Cơ hội nghề nghiệp
		.row
			.col-12.col-lg-8.col-xl-9
				.career-content
					.job-wrap
						table.table
							thead.thead-dark
								tr
									th Vị trí làm việc
									th Nơi làm việc
									th Ngày hết hạn
									th
							tbody
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										.badge.badge-danger Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										.badge.badge-danger Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										.badge.badge-danger Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										//- span.new Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										//- span.new Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										//- span.new Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										//- .badge.badge-danger Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										//- .badge.badge-danger Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										//- span.new Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										//- span.new Mới
			.col-12.col-lg-4.col-xl-3
				nav.sidebar-category
					ul
						li
							a(href="#!") Chính sách nhân sự
						li
							a(href="#!") Phát triển nghề nghiệp
						li.active
							a(href="#!") Cơ hội nghề nghiệp
						li
							a(href="#!") Thắc mắc thường gặp