section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brnhansu.jpg", alt="")
	.container
		.page-intro
			h1.page-name Nhân sự
			.intro-content CP tin rằng nhân viên chính là nguồn lực quý báo và là chìa khóa quan trọng trong hành trình thành công của chúng tôi.
section.career-page.clearfix
	.container
		h1.page-title.text-center Thắc mắc thường gặp
		.row
			.col-12.col-lg-8.col-xl-9
				.career-faq
					.faqlist
						.faq
							.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
							.faqcontent.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
						.faq
							.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
							.faqcontent.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
						.faq
							.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
							.faqcontent.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
						.faq
							.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
							.faqcontent.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
						.faq
							.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
							.faqcontent.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
						.faq
							.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
							.faqcontent.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
						.faq
							.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
							.faqcontent.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
						.faq
							.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
							.faqcontent.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
						.faq
							.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
							.faqcontent.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
						.faq
							.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
							.faqcontent.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
			.col-12.col-lg-4.col-xl-3
				nav.sidebar-category
					ul
						li
							a(href="#!") Chính sách nhân sự
						li
							a(href="#!") Phát triển nghề nghiệp
						li
							a(href="#!") Cơ hội nghề nghiệp
						li.active
							a(href="#!") Thắc mắc thường gặp
				.sendmess
					.module-title Đặt câu hỏi
					.form-wrap
						.form-group
							input(type="text" placeholder="Họ và tên")
						.form-group
							input(type="text" placeholder="Email")
						.form-group
							textarea(name="", cols="30", rows="3" placeholder="Nội dung câu hỏi")
						.frm-btn
							input(type="submit", value="Gửi")