section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brnhansu.jpg", alt="")
	.container
		.page-intro
			h1.page-name Nhân sự
			.intro-content CP tin rằng nhân viên chính là nguồn lực quý báo và là chìa khóa quan trọng trong hành trình thành công của chúng tôi.
section.career-page.clearfix
	.container
		h1.page-title.text-center Tuyển dụng Trưởng phòng kinh doanh
		.row
			.col-12.col-lg-8.col-xl-9
				.career-content
					.content
						p
							strong 1. Mô tả công việc
						ul
							li Thực hiện các thủ tục về sản phẩm, dịch vụ tín dụng khi khoản cấp tín dụng đã được duyệt.
							li Phối hợp với bộ phận/nhân viên nghiệp vụ liên quan hoặc hướng dẫn khách hàng tiếp xúc các chức danh khác để hoàn tất việc thực hiện theo phê duyệt của khoản cấp tín dụng.
							li Quản lý khoản cấp tín dụng của khách hàng.
							li Duy trì quan hệ, chăm sóc khách hàng hiện hữu.
						p
							strong 2. Yêu cầu học vấn
						ul
							li Tốt nghiệp Đại học các chuyên ngành Kinh tế, Tài chính, Ngân hàng, QTKD.
						p 
							strong 3. Yêu cầu kinh nghiệm
						ul
							li Ưu tiên ứng viên có 01 năm kinh nghiệm làm Hỗ trợ tín dụng tại các Ngân hàng.
						p
							strong 4. Yêu cầu khác
						ul
							li Kỹ năng giao tiếp, thuyết phục khách hàng
							li Kỹ năng thuyết trình
							li Kỹ năng thẩm định khách hàng, phương án kinh doanh, dự án đầu tư....
							li Kỹ năng quản lý thời gian
							li Vi tính: văn phòng
							li Ngoại ngữ: Có khả năng đọc hiểu tiếng Anh tối thiểu để giao tiếp với máy tính và nghiên cứu tài
						p
							strong 5. Nơi làm việc
						ul
							li TP.HCM
						p 
							strong 6. Hạn chót nộp hồ sơ
						ul
							li 30/11/2016 (ưu tiên ứng viên nộp hồ sơ sớm)
					.share
						img(src="img/share.jpg", alt="")
				.other-job
					h2.small-title Các vị trí khác
					.job-wrap
						table.table
							thead.thead-dark
								tr
									th Vị trí làm việc
									th Nơi làm việc
									th Ngày hết hạn
									th
							tbody
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										.badge.badge-danger Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										.badge.badge-danger Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										//- span.new Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										//- span.new Mới
								tr
									td
										h2
											a(href='#!', target='_self', title='Trưởng phòng kinh doanh') Trưởng phòng kinh doanh
											//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
												i.fa.fa-pencil
									td Tp.HCM
									td 21/03/2017
									td
										//- span.new Mới
			.col-12.col-lg-4.col-xl-3
				nav.sidebar-category
					ul
						li
							a(href="#!") Chính sách nhân sự
						li
							a(href="#!") Phát triển nghề nghiệp
						li.active
							a(href="#!") Cơ hội nghề nghiệp
						li
							a(href="#!") Thắc mắc thường gặp