section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brphattrien.jpg", alt="")
	.container
		.page-intro
			h1.page-name Phát triển bền vững
			.intro-content Là một doanh nghiệp đồng hành cùng sức khỏe người tiêu dùng, chúng tôi nhận thức rõ tầm ảnh hưởng của mình đến cộng đồng và sự phát triển bền vững của xã hội bằng những hành động thiết thực và ý nghĩa.
nav.top-nav3.clearfix
	.container
		ul.top-link
			li
				a(href="") Thông điệp
			li.active
				a(href="") Chính sách
			li
				a(href="") Tin tức hoạt động
			//- li
				a(href="#part4" rel='m_PageScroll2id') Báo cáo
section.about-section.clearfix
	.container
		h2.about-title.text-center Chính sách
		.home-des.text-center Công ty hoạt động kinh doanh dựa trên chiến lược hướng đến sự bền vững với 3 vấn đề cốt lõi được xem là 3 trụ cột chính: 
			strong.text-green “An ninh lương thực”; “Xã hội tự túc”; “ Cân bằng tự nhiên”  cùng với triết lý 3 lợi ích tiến tới sự bền vững: lợi ích cho đất nước, cho nhân dân và cho công ty;
			| CPV đã và đang làm theo những chiến lược này với mong muốn thúc đẩy sự phát triển bền vững Việt Nam và thế giới.
		.policy-img.text-center
			a(href="img/corp/improve/table.jpg" data-fancybox="")
				img(src="img/corp/improve/table.jpg", alt="")