section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brphattrien.jpg", alt="")
	.container
		.page-intro
			h1.page-name Phát triển bền vững
			.intro-content Là một doanh nghiệp đồng hành cùng sức khỏe người tiêu dùng, chúng tôi nhận thức rõ tầm ảnh hưởng của mình đến cộng đồng và sự phát triển bền vững của xã hội bằng những hành động thiết thực và ý nghĩa.
nav.top-nav3.clearfix
	.container
		ul.top-link
			li.active
				a(href="") Thông điệp
			li
				a(href="") Chính sách
			li
				a(href="") Tin tức hoạt động
			//- li
				a(href="#part4" rel='m_PageScroll2id') Báo cáo
section.improve-page.clearfix
	.container
		h2.about-title.text-center Thông điệp
		.notice-list
			.notice
				.notice-img
					img(src="img/corp/improve/1.jpg", alt="")
				.notice-content
					figure
						.icon
							img(src="img/corp/improve/i1.png", alt="")
						figcaption 
							strong Với tình hình chung hiện nay, Việt Nam là đất nước đang phát triển với những nỗ lực phát triển kinh tế không ngừng. 
							|Tuy nhiên, Việt Nam đang phải đối mặt với những thách thức đến từ sự tăng trưởng. Cùng với đó, biến đổi khí hậu trên quy mô toàn cầu đang diễn ra mạnh mẽ, các tác động của biến đổi khí hậu gây ra như mưa bão, lũ quét gây thiệt hại nặng nề về người và của, tác động lớn tới đời sống con người. Bên cạnh đó bùng nổ dân số cũng gây ra nhiều nguy cơ cho vấn đề an ninh lương thực trên phạm vi toàn cầu.
				
			.notice
				.notice-img
					img(src="img/corp/improve/2.jpg", alt="")
				.notice-content
					figure
						.icon
							img(src="img/corp/improve/i2.png", alt="")
						figcaption Ý thức được tầm quan trọng của phát triển bền vững trong tình hình chung hiện nay, 
							strong CPV nhận thấy được tầm quan trọng của việc xây dựng nông nghiệp bền vững - được xem là nhiệm vụ trọng tâm
							|. Chính vì thế, công ty phát triển kinh doanh của mình theo hướng bền vững; xây dựng những giá trị vượt trội cho xã hội và con người đồng thời đảm bảo được sự lớn mạnh trong kinh doanh.
				
			.notice
				.notice-img
					img(src="img/corp/improve/3.jpg", alt="")
				.notice-content
					figure
						.icon
							img(src="img/corp/improve/i3.png", alt="")
						figcaption Với tầm nhìn “Nhà bếp của Thế giới” (Kitchen of the world), và là công ty hàng đầu trong lĩnh vực Công - Nông nghiệp - Thực phẩm khép kín theo 3 lĩnh vực chính: Thức ăn chăn nuôi (Feed), Trang trại chăn nuôi (Farm) và Chế biến thực phẩm (Food). 
							strong Công ty Cổ phần Chăn nuôi C.P. Việt Nam quyết tâm mang đến thực phẩm chất lượng cao, giàu giá trị dinh dưỡng, vệ sinh và an toàn đến với người tiêu dùng 
							|dựa trên tiêu chuẩn sản xuất thân thiện với môi trường và quy trình hoạt động kinh doanh có trách nhiệm với xã hội theo nguyên tắc quản trị tốt một cách bền vững.
				