section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brphattrien.jpg", alt="")
	.container
		.page-intro
			h1.page-name Phát triển bền vững
			.intro-content Là một doanh nghiệp đồng hành cùng sức khỏe người tiêu dùng, chúng tôi nhận thức rõ tầm ảnh hưởng của mình đến cộng đồng và sự phát triển bền vững của xã hội bằng những hành động thiết thực và ý nghĩa.
nav.top-nav3.clearfix
	.container
		ul.top-link
			li
				a(href="") Thông điệp
			li.active
				a(href="") Chính sách
			li
				a(href="") Tin tức hoạt động
			//- li
				a(href="#part4" rel='m_PageScroll2id') Báo cáo
section.about-section.clearfix
	.container
		h2.about-title.text-center Tin tức hoạt động
		.news-list
			.row
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/1.jpg", alt="")
							figcaption
								time 06/12/2017
								h3.news-name
									a(href="#!") C.P. Việt Nam tự hào nằm trong Top 100 Doanh nghiệp phát triển bền vững của Việt Nam năm 2017
								a.link(href="#!") Xem thêm
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/2.jpg", alt="")
							figcaption
								time 25/12/2017
								h3.news-name
									a(href="#!") Phát triển bền vững là “Giấy thông hành thế hệ mới” cho doanh nghiệp ra toàn cầu
								a.link(href="#!") Xem thêm 
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/3.jpg", alt="")
							figcaption
								time 20/01/2018
								h3.news-name
									a(href="#!") C.P. Việt Nam tham gia tổ chức chiến dịch tình nguyện năm 2018
								a.link(href="#!") Xem thêm 
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/1.jpg", alt="")
							figcaption
								time 06/12/2017
								h3.news-name
									a(href="#!") C.P. Việt Nam tự hào nằm trong Top 100 Doanh nghiệp phát triển bền vững của Việt Nam năm 2017
								a.link(href="#!") Xem thêm
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/2.jpg", alt="")
							figcaption
								time 25/12/2017
								h3.news-name
									a(href="#!") Phát triển bền vững là “Giấy thông hành thế hệ mới” cho doanh nghiệp ra toàn cầu
								a.link(href="#!") Xem thêm 
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/3.jpg", alt="")
							figcaption
								time 20/01/2018
								h3.news-name
									a(href="#!") C.P. Việt Nam tham gia tổ chức chiến dịch tình nguyện năm 2018
								a.link(href="#!") Xem thêm 
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/1.jpg", alt="")
							figcaption
								time 06/12/2017
								h3.news-name
									a(href="#!") C.P. Việt Nam tự hào nằm trong Top 100 Doanh nghiệp phát triển bền vững của Việt Nam năm 2017
								a.link(href="#!") Xem thêm
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/2.jpg", alt="")
							figcaption
								time 25/12/2017
								h3.news-name
									a(href="#!") Phát triển bền vững là “Giấy thông hành thế hệ mới” cho doanh nghiệp ra toàn cầu
								a.link(href="#!") Xem thêm 
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/3.jpg", alt="")
							figcaption
								time 20/01/2018
								h3.news-name
									a(href="#!") C.P. Việt Nam tham gia tổ chức chiến dịch tình nguyện năm 2018
								a.link(href="#!") Xem thêm 
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/1.jpg", alt="")
							figcaption
								time 06/12/2017
								h3.news-name
									a(href="#!") C.P. Việt Nam tự hào nằm trong Top 100 Doanh nghiệp phát triển bền vững của Việt Nam năm 2017
								a.link(href="#!") Xem thêm
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/2.jpg", alt="")
							figcaption
								time 25/12/2017
								h3.news-name
									a(href="#!") Phát triển bền vững là “Giấy thông hành thế hệ mới” cho doanh nghiệp ra toàn cầu
								a.link(href="#!") Xem thêm 
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/3.jpg", alt="")
							figcaption
								time 20/01/2018
								h3.news-name
									a(href="#!") C.P. Việt Nam tham gia tổ chức chiến dịch tình nguyện năm 2018
								a.link(href="#!") Xem thêm 
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/1.jpg", alt="")
							figcaption
								time 06/12/2017
								h3.news-name
									a(href="#!") C.P. Việt Nam tự hào nằm trong Top 100 Doanh nghiệp phát triển bền vững của Việt Nam năm 2017
								a.link(href="#!") Xem thêm
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/2.jpg", alt="")
							figcaption
								time 25/12/2017
								h3.news-name
									a(href="#!") Phát triển bền vững là “Giấy thông hành thế hệ mới” cho doanh nghiệp ra toàn cầu
								a.link(href="#!") Xem thêm 
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img
								img(src="img/corp/news/3.jpg", alt="")
							figcaption
								time 20/01/2018
								h3.news-name
									a(href="#!") C.P. Việt Nam tham gia tổ chức chiến dịch tình nguyện năm 2018
								a.link(href="#!") Xem thêm 