section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brsanpham.jpg", alt="")
	h1.page-name Công ty cổ phần chăn nuôi
		br
		|C.P. Việt Nam
section.product-page.clearfix
	.container
		h2.page-title.text-center THỨC ĂN CHĂN NUÔI
		.category-list
			.row.flex-content-center
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/corp/c1.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn cho heo
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/corp/c2.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn gà thịt & gà đẻ
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/corp/c3.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn cho vịt
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/corp/c4.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn cho chim cút
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/corp/c5.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn bò thịt & bò sữa
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/corp/c6.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn cho tôm
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/corp/c7.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn cho cá

