section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brsanpham.jpg", alt="")
	.container
		.page-intro
			h1.page-name Sản phẩm
			.intro-content Không ngừng đổi mới và hoàn thiện cả chất lượng và an toàn về thực phẩm là điều chúng tôi quan tâm hàng đầu
section.product-section.product-feed.clearfix
	.container
		h2.about-title.text-center FEED
		.page-des.text-center Thức ăn chăn nuôi của CPV được sản xuất từ nguồn nguyên liệu đã qua chọn lọc kỹ. Áp dụng công nghệ cao trong sản xuất tại các nhà máy đạt chứng nhận tiêu chuẩn quốc tế, đồng thời được xác nhận từ các chuyên gia dinh dưỡng và cơ quan nhà nước.
		.product-img
			img(src="img/corp/spfeed.png", alt="")
		.btn-wrap
			a.btn-viewmore(href="#!") Xem thêm
section.product-section.product-farm.clearfix
	.container
		h2.about-title.text-center FARM
		.page-des.text-center Các giống vật nuôi của CPV được tạo lập từ nguồn gen tốt nhất của thế giới. Nuôi thích nghi và chọn lọc trong điều kiện Việt Nam để nhân giống theo nhu cầu của thị trường Việt Nam.
		.product-img
			img(src="img/corp/spfarm.png", alt="")
		.btn-wrap
			a.btn-viewmore(href="#!") Xem thêm
section.product-section.product-food.clearfix
	.container
		h2.about-title.text-center FOOD
		.page-des.text-center Sản phẩm CP được sản xuất theo tiêu chuẩn Quốc tế từ hệ thống khép kín của Công ty Cổ phần Chăn nuôi C.P. Việt Nam bao gồm các sản phẩm tươi như thịt gà, thịt vịt, trứng gà, thịt lợn; và các sản phẩm chín chế biến như xúc xích, lạp xưởng, gà Năm sao.
		.product-img
			img(src="img/corp/spfood.png", alt="")
		.btn-wrap
			a.btn-viewmore(href="#!") Xem thêm