section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brsanpham.jpg", alt="")
	h1.page-name Công ty cổ phần chăn nuôi
		br
		|C.P. Việt Nam
section.product-page.clearfix
	.container
		h2.page-title.text-center THỨC ĂN CHO HEO
		.row
			.col-12.col-lg-4.col-xl-3
				nav.product-category
					ul.category-link
						li.hassub.active
							a(href="#!") Thức ăn cho heo
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li.active
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn gà thịt & gà đẻ
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn cho vịt
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn cho chim cút
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn cho bò & bò sữa
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn cho tôm
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn cho cá
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
			.col-12.col-lg-8.col-xl-9
				table.product-table
					tr
						th Mã số thức ăn
						th Loại vật nuôi: Heo ngoại
						th Bao gói/Khối lượng
					tr
						td 550S
						td Heo sữa (5 ngày tuổi - 12 kg thể trọng)
						td Thùng 25kg(túi 1kg)
					tr
						td 550S
						td Heo sữa (5 ngày tuổi - 12 kg thể trọng)
						td 5
					tr
						td 550S
						td Heo sữa (5 ngày tuổi - 12 kg thể trọng)
						td 25
					tr
						td 351/551
						td Heo con tập ăn (7 ngày tuổi – 30 kg thể trọng)
						td Bao 50kg(túi 5kg)
					tr
						td 351/551
						td Heo con tập ăn (7 ngày tuổi – 30 kg thể trọng)
						td 25
					tr
						td 551/23
						td Heo con tập ăn (7 ngày tuổi – 30 kg thể trọng)
						td 25
					tr
						td 551/26
						td Heo con tập ăn (7 ngày tuổi – 30 kg thể trọng)
						td 25
					tr
						td 352S/552S
						td Heo con (30 kg thể trọng - 50 kg thể trọng)
						td 25
					tr
						td 352/552
						td Heo con (50 kg thể trọng - 80 kg thể trọng)
						td 25
					tr
						td 353S/553S
						td Heo thịt (80 kg thể trọng - xuất chuồng)
						td 25
					tr
						td 353/553
						td Heo thịt (80 kg thể trọng - xuất chuồng)
						td 25
					tr
						td 354
						td Heo thịt (60 kg thể trọng - xuất chuồng)
						td 25
					tr
						td 562
						td Heo giống (40kg - 110kg thể trọng)
						td 25
					tr
						td 366/566
						td Heo nái chửa (sau phối giống - 2 tuần trước khi đẻ )
						td 25
					tr
						td 367S/567S
						td Heo nái nuôi con (2 tuần trước khi đẻ - cai sữa )
						td 25
					tr
						td 367/567
						td Heo nái nuôi con (2 tuần trước khi đẻ - cai sữa )
						td 25
					tr
						td 150S
						td Tăng đậm đặc cho heo (15kg thể trọng - xuất chuồng)
						td Bao 50kg(túi 5kg)
					tr
						td 150X
						td Tăng đậm đặc cho heo (15kg thể trọng - xuất chuồng)
						td 5
					tr
						td 151
						td Tăng đậm đặc cho heo (15kg thể trọng - xuất chuồng)
						td Bao 50kg(túi 5kg)
					tr
						td 151
						td Tăng đậm đặc cho heo (15kg thể trọng - xuất chuồng)
						td 5
					tr
						td 157M
						td Tăng đậm đặc cho heo nái chửa & nái nuôi con
						td Bao 50kg(túi 5kg)
					tr
						td 157S
						td Tăng đậm đặc cho heo nái chửa & nái nuôi con
						td 5
					tr
						th Mã số thức ăn
						th Loại vật nuôi: Heo lai
						th Bao gói/Khối lượng
					tr
						td 352L/552L
						td Heo con (15kg - 30kg thể trọng)
						td 25
					tr
						td 353L/553L
						td Heo thịt (30kg - 60kg thể trọng)
						td 25
					tr
						td 354L/554L
						td Heo thịt (60kg thể trọng - xuất chuồng)
						td 25
					tr
						td 366/566
						td Heo nái chửa (sau phối giống và 2 tuần trước khi đẻ)
						td 25
					tr
						td 367L/567L
						td Heo nái nuôi con
						td 25

