section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brtruyenthong.jpg", alt="")
	.container
		.page-intro
			h1.page-name Thông cáo báo chí
			.intro-content Cập nhật và theo dõi thông tin mới nhất về nhịp sống sôi động tại Cp mỗi ngày ngay hôm nay.
section.news-page.clearfix
	.container
		h1.page-title.text-center C.P. Việt Nam nhận giải “Thương hiệu vàng Nông nghiệp Việt Nam”
		.row
			.col-12.col-lg-8.col-xl-9
				.news-content
					.content
						p Sau khi trải qua gần 4 tháng bình chọn, khảo sát “Thương hiệu vàng Nông nghiệp Việt Nam” trên quy mô toàn quốc với sự phối hợp chặt chẽ với các cơ quan địa phương, sở NN&PTNT, các chuyên gia đầu ngành về nông nghiệp, các cơ quan truyền thông, các hội nghề nghiệp ở địa phương và các trường chuyên nghiệp trên các tỉnh, thành phố.
						p Dựa trên Điều lệ chương trình bình chọn “Thương hiệu vàng Nông nghiệp Việt Nam”, được Ban thường vụ Tổng hội Nông nghiệp và Phát triển nông thôn Việt Nam phê duyệt, C.P. Việt Nam đã được Hội đồng Bình chọn Trung ương chọn là một trong 79 thương hiệu, sản phẩm nông nghiệp có chất lượng tốt, thương hiệu nổi tiếng và được người tiêu dùng đánh giá cao nhất. Là thương hiệu uy tín được vinh danh tại Lễ trao giải “Thương hiệu vàng Nông nghiệp Việt Nam” lần thứ 2 năm 2016 do Tổng hội Nông nghiệp và Phát triển nông thôn Việt Nam tổ chức tại Hà Nội vào ngày 10/07/2016. Nhằm khuyến khích, cổ vũ và động viên các tập thể, cá nhân hỗ trợ nông dân trong việc nâng cao năng suất, chất lượng cũng như tiêu thụ sản phẩm nông nghiệp. 
						figure
							img(src="img/news/img1.jpg", alt="")
							figcaption Đại diện Ban lãnh đạo C.P. Việt Nam lên nhận giải “Thương hiệu vàng Nông nghiệp Việt Nam” từ BTC
						p Đại diện Ban lãnh đạo về phía công ty cổ phần chăn nuôi C.P. Việt Nam còn được tham gia tọa đàm về vấn đề “Xây dựng thương hiệu vàng nông nghiệp Việt Nam gắn với bảo vệ môi trường và an sinh xã hội” và “Phát triển bền vững ngành nông nghiệp ứng dụng công nghệ cao, nâng cao chất lượng, sức cạnh tranh của sản phẩm nông nghiệp”. Qua đó, góp phần thúc đẩy nền nông nghiệp Việt Nam phát triển đột phá, vững vàng vượt qua khó khan trước nhiều rủi ro về thiên tai, biến đổi khí hậu, thị trường, vốn, chính sách hỗ trợ, thủ tục hành chính, quản lý nhà nước…
						figure
							img(src="img/news/img2.jpg", alt="")
							figcaption Đại diện Ban lãnh đạo C.P. Việt Nam tham gia thảo luận trong buổi tọa đàm
						p Chia sẻ tại buổi tọa đàm, theo anh Trần Anh Quyết – Trợ lý Phó tổng giám đốc – Công ty cổ phần Chăn nuôi C.P. Việt Nam: “Hiện tại, Công ty cổ phần chăn nuôi C.P Việt Nam nói riêng, cũng như Tập đoàn C.P trên toàn thế giới nói chung đã xây dựng thành công chuỗi 3F – Feed-Farm-Food, có nghĩa là sạch từ trang trại đến bàn ăn. Để làm được điều đó  công ty cũng đã đưa ra những tiêu chí khi hợp tác đối với hộ chăn nuôi, cũng như khi công ty tổ chức sản xuất. Chúng tối luôn ý thức, đi đến đâu cũng bảo vệ môi trường tốt nhất và đem lại hiệu quả tốt nhất cho người chăn nuôi.”
					.share
						img(src="img/share.jpg", alt="")
				.news-other
					h4.small-title Tin liên quan
					.news-list
						.row
							article.col-12.col-sm-6.col-md-4
								.news-col
									figure
										a.news-img(href="#")
											img(src="img/news/6.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") C.P. Việt Nam nhận giải “Thương hiệu vàng Nông nghiệp Việt Nam”
											.news-des Hành trình Đỏ là hành trình vận động hiến máu xuyên Việt với thông điệp “Kết nối dòng máu Việt”
							article.col-12.col-sm-6.col-md-4
								.news-col
									figure
										a.news-img(href="#")
											img(src="img/news/3.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") C.P. Việt Nam “Nâng bước tới trường 2015” cho học sinh, sinh viên nghèo vượt khó tại tỉnh Bến Tre.
											.news-des Vấn đề nguyên liệu bền vững được xem là 1 trong những vấn đề quan trọng trong quá trình sản xuất...
							article.col-12.col-sm-6.col-md-4
								.news-col
									figure
										a.news-img(href="#")
											img(src="img/news/1.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") Công ty cổ phần chăn nuôi C.P.Việt Nam đồng hành cùng Hành trình Đỏ- 2015
											.news-des Ngày 17/05/2016 Khóa GTAP của công ty C.P. Việt Nam bao gồm 6 dự án của Học Viện Phát Triển Lãnh Đạo tập... đoàn C.P....
			.col-12.col-lg-4.col-xl-3
				nav.sidebar-category
					ul
						li.active
							a(href="#!") Thông cáo báo chí
						li
							a(href="#!") Tin tức & Sự kiện
						li
							a(href="#!") Thư viện hình ảnh & video
				section.news-video.clearfix
					h3.small-title Video công ty
					.video
						figure
							.video-img
								img(src="img/news/video.jpg", alt="alt")
								a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
							figcaption 
								h3.video-name 
									a(href="#") Hội thao liên cơ quan lần 1
					.video 
						figure
							figcaption
								h3.video-name 
									a(href="#") Hội thao liên cơ quan lần 2
					.video 
						figure
							figcaption
								h3.video-name 
									a(href="#") Hội thao liên cơ quan lần 3
					a.btn-viewmore(href="#") Xem thêm
				section.news-album.clearfix
					h3.small-title Hình ảnh hoạt động
					.album
						figure
							.album-slide
								.item
									a.album-img(href="#")
										img(src="../img/news/11.jpg", alt="")
								.item
									a.album-img(href="#")
										img(src="../img/news/12.jpg", alt="")
								.item
									a.album-img(href="#")
										img(src="../img/news/13.jpg", alt="")
							.album-nav
								.item
									.album-img
										img(src="../img/news/11.jpg", alt="")
								.item
									.album-img
										img(src="../img/news/12.jpg", alt="")
								.item
									.album-img
										img(src="../img/news/13.jpg", alt="")
							figcaption
								h3.album-name
									a(href="#") Khai trương hàng loạt cửa hàng FIVE STAR
					a.btn-viewmore(href="#") Xem thêm