section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brtruyenthong.jpg", alt="")
	.container
		.page-intro
			h1.page-name Thông cáo báo chí
			.intro-content Cập nhật và theo dõi thông tin mới nhất về nhịp sống sôi động tại Cp mỗi ngày ngay hôm nay.
section.news-page.clearfix
	.container
		h1.page-title.text-center Thông cáo báo chí
		.row
			.col-12.col-lg-8.col-xl-9
				.news-list
					.row
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/6.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") C.P. Việt Nam nhận giải “Thương hiệu vàng Nông nghiệp Việt Nam”
										.news-des Hành trình Đỏ là hành trình vận động hiến máu xuyên Việt với thông điệp “Kết nối dòng máu Việt”
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/3.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") C.P. Việt Nam “Nâng bước tới trường 2015” cho học sinh, sinh viên nghèo vượt khó tại tỉnh Bến Tre.
										.news-des Vấn đề nguyên liệu bền vững được xem là 1 trong những vấn đề quan trọng trong quá trình sản xuất...
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Công ty cổ phần chăn nuôi C.P.Việt Nam đồng hành cùng Hành trình Đỏ- 2015
										.news-des Ngày 17/05/2016 Khóa GTAP của công ty C.P. Việt Nam bao gồm 6 dự án của Học Viện Phát Triển Lãnh Đạo tập... đoàn C.P....
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/n6.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") C.P. Việt Nam đồng tổ chức “Ngày hội thầy thuốc trẻ làm theo lời Bác, tình nguyện vì sức khỏe cộng đồng năm 2015”
										.news-des Hành trình Đỏ là hành trình vận động hiến máu xuyên Việt với thông điệp “Kết nối dòng máu Việt”
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/m6.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Nhà máy chế biến thực phẩm C.P. Việt Nam giới thiệu sản phẩm tại hội chợ hàng Thái Lan tại Việt Nam
										.news-des Vấn đề nguyên liệu bền vững được xem là 1 trong những vấn đề quan trọng trong quá trình sản xuất...
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/9.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Ngày hội gia đình C.P. Việt Nam – 2015
										.news-des Ngày 17/05/2016 Khóa GTAP của công ty C.P. Việt Nam bao gồm 6 dự án của Học Viện Phát Triển Lãnh Đạo tập... đoàn C.P....
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/p10.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Trại chăn nuôi Lộc Phát đạt chứng nhận kép ISO 9001 và 14001
										.news-des Hành trình Đỏ là hành trình vận động hiến máu xuyên Việt với thông điệp “Kết nối dòng máu Việt”
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/n11.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") C.P. Việt Nam giới thiệu sản phẩm mới “Chả giò CP”
										.news-des Vấn đề nguyên liệu bền vững được xem là 1 trong những vấn đề quan trọng trong quá trình sản xuất...
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/o6.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") C.P. Việt Nam đạt danh hiệu Hàng Việt Nam chất lượng cao 2015
										.news-des Ngày 17/05/2016 Khóa GTAP của công ty C.P. Việt Nam bao gồm 6 dự án của Học Viện Phát Triển Lãnh Đạo tập... đoàn C.P....
				.pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3
						li
							a(href="#!") 4
			.col-12.col-lg-4.col-xl-3
				nav.sidebar-category
					ul
						li.active
							a(href="#!") Thông cáo báo chí
						li
							a(href="#!") Tin tức & Sự kiện
						li
							a(href="#!") Thư viện hình ảnh & video
				section.news-video.clearfix
					h3.small-title Video công ty
					.video
						figure
							.video-img
								img(src="img/news/video.jpg", alt="alt")
								a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
							figcaption 
								h3.video-name 
									a(href="#") Hội thao liên cơ quan lần 1
					.video 
						figure
							figcaption
								h3.video-name 
									a(href="#") Hội thao liên cơ quan lần 2
					.video 
						figure
							figcaption
								h3.video-name 
									a(href="#") Hội thao liên cơ quan lần 3
					a.btn-viewmore(href="#") Xem thêm
				section.news-album.clearfix
					h3.small-title Hình ảnh hoạt động
					.album
						figure
							.album-slide
								.item
									a.album-img(href="#")
										img(src="../img/news/11.jpg", alt="")
								.item
									a.album-img(href="#")
										img(src="../img/news/12.jpg", alt="")
								.item
									a.album-img(href="#")
										img(src="../img/news/13.jpg", alt="")
							.album-nav
								.item
									.album-img
										img(src="../img/news/11.jpg", alt="")
								.item
									.album-img
										img(src="../img/news/12.jpg", alt="")
								.item
									.album-img
										img(src="../img/news/13.jpg", alt="")
							figcaption
								h3.album-name
									a(href="#") Khai trương hàng loạt cửa hàng FIVE STAR
					a.btn-viewmore(href="#") Xem thêm