section.banner-page.clearfix
	.banner-img
		img(src="img/corp/brtruyenthong.jpg", alt="")
	.container
		.page-intro
			h1.page-name Truyền thông
			.intro-content Cập nhật và theo dõi thông tin mới nhất về nhịp sống sôi động tại Cp mỗi ngày ngay hôm nay.
section.news-page.clearfix
	.container
		h3.page-title.text-center TIN NỔI BẬT
		.hot-news.clearfix
			.row.flex.flex-wrap
				.col-12.col-lg-6
					.news-col.big
						figure
							a.news-img(href="#")
								img(src="img/news/6.jpg", alt="alt")
							figcaption 
								time 19/05/2017
								h1.news-name
									a(href="#") C.P. Việt Nam nhận giải “Thương hiệu vàng Nông nghiệp Việt Nam”
				.col-12.col-lg-6
					.row.flex.flex-wrap
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/n2.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.news-name
											a(href="#") C.P. Việt Nam tham gia hội chợ "Tết dùng hàng Việt"
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/3.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.news-name
											a(href="#") C.P. Việt Nam “Nâng bước tới trường 2015” cho học sinh, sinh viên nghèo vượt khó tại tỉnh Bến Tre.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.news-name
											a(href="#") Công ty cổ phần chăn nuôi C.P.Việt Nam đồng hành cùng Hành trình Đỏ- 2015
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/n6.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.news-name
											a(href="#") C.P. Việt Nam đồng tổ chức “Ngày hội thầy thuốc trẻ làm theo lời Bác, tình nguyện vì sức khỏe cộng đồng năm 2015”
		.row.flex.flex-wrap
			.col-12.col-lg-9
				.newsgroup
					h3.small-title Thông cáo báo chí
					.news-list.news-list2.clearfix
						.row
							.col-12.col-md-7
								.news-col
									figure
										a.news-img(href="#")
											img(src="img/news/m6.jpg", alt="alt")
										figcaption 
											time 19/05/2017
											h1.news-name
												a(href="#") Nhà máy chế biến thực phẩm C.P. Việt Nam giới thiệu sản phẩm tại hội chợ hàng Thái Lan tại Việt Nam
											.news-des Sau khi trải qua gần 4 tháng bình chọn, khảo sát “Thương hiệu vàng Nông nghiệp Việt Nam” trên quy mô toàn quốc với sự phối hợp chặt chẽ với các cơ quan địa phương, sở NN&PTNT, các chuyên gia đầu ngành về nông nghiệp, các cơ quan truyền thông, các hội nghề nghiệp ở địa phương và các trường chuyên nghiệp trên các tỉnh, thành phố. 
							.col-12.col-md-5
								.news-list.news-list3
									.news-col
										figure
											figcaption 
												time 19/05/2017
												h1.news-name
													a(href="#") Ngày hội gia đình C.P. Việt Nam – 2015
												.news-des Công ty CPTM Bia Sài Gòn Tây Nguyên được thành lập  vào năm 2006,  tọa lạc trên thành phố Buôn Ma Thuột, tỉnh Đak Lak  ...
									.news-col
										figure
											figcaption 
												time 19/05/2017
												h1.news-name
													a(href="#") Trại chăn nuôi Lộc Phát đạt chứng nhận kép ISO 9001 và 14001
												.news-des Với địa bàn trải rộng các Tỉnh Bình Dương, Bình Phước, Tây Ninh, Đồng Nai và Bà Rịa– Vũng Tàu ...
									.news-col
										figure
											figcaption 
												time 19/05/2017
												h1.news-name
													a(href="#") C.P. Việt Nam giới thiệu sản phẩm mới “Chả giò CP”
												.news-des Được thành lập từ tháng 8 năm 2012 trên cơ sở là Chi nhánh Công ty CPTM Sabeco Miền Bắc tại Quảng Ninh. Sau 3 năm hoạt động ...
									.news-col
										figure
											figcaption 
												time 19/05/2017
												h1.news-name
													a(href="#") C.P. Việt Nam đạt danh hiệu Hàng Việt Nam chất lượng cao 2015
												.news-des Được thành lập từ tháng 8 năm 2012 trên cơ sở là Chi nhánh Công ty CPTM Sabeco Miền Bắc tại Quảng Ninh. Sau 3 năm hoạt động ...
									.news-col
										figure
											figcaption 
												time 19/05/2017
												h1.news-name
													a(href="#") Tổ chức Ngày hội gia đình CP Việt Nam tại 4 địa điểm
												.news-des Được thành lập từ tháng 8 năm 2012 trên cơ sở là Chi nhánh Công ty CPTM Sabeco Miền Bắc tại Quảng Ninh. Sau 3 năm hoạt động ...
								a.btn-viewmore(href="#") Xem thêm

				.newsgroup
					h3.small-title Tin tức sự kiện
					.news-list.news-list2.clearfix
						.row
							.col-12.col-md-7
								.news-col
									figure
										a.news-img(href="#")
											img(src="img/news/o6.jpg", alt="alt")
										figcaption 
											time 19/05/2017
											h1.news-name
												a(href="#") C.P Việt Nam đạt cúp vàng và danh hiệu doanh nghiệp xuất sắc ASEAN
											.news-des Sau khi trải qua gần 4 tháng bình chọn, khảo sát “Thương hiệu vàng Nông nghiệp Việt Nam” trên quy mô toàn quốc với sự phối hợp chặt chẽ với các cơ quan địa phương, sở NN&PTNT, các chuyên gia đầu ngành về nông nghiệp, các cơ quan truyền thông, các hội nghề nghiệp ở địa phương và các trường chuyên nghiệp trên các tỉnh, thành phố. 
							.col-12.col-md-5
								.news-list.news-list3
									.news-col
										figure
											figcaption 
												time 19/05/2017
												h1.news-name
													a(href="#") Phát triển thành công dòng sản phẩm xúc xích cao cấp Bucher
												.news-des Công ty CPTM Bia Sài Gòn Tây Nguyên được thành lập  vào năm 2006,  tọa lạc trên thành phố Buôn Ma Thuột, tỉnh Đak Lak  ...
									.news-col
										figure
											figcaption 
												time 19/05/2017
												h1.news-name
													a(href="#") CPV tổ chức chương trình “Chung tay đền ơn Tổ Quốc”
												.news-des Với địa bàn trải rộng các Tỉnh Bình Dương, Bình Phước, Tây Ninh, Đồng Nai và Bà Rịa– Vũng Tàu ...
									.news-col
										figure
											figcaption 
												time 19/05/2017
												h1.news-name
													a(href="#") CPV đạt 2 danh hiệu Chất lượng Vàng Thủy sản Việt Nam
												.news-des Được thành lập từ tháng 8 năm 2012 trên cơ sở là Chi nhánh Công ty CPTM Sabeco Miền Bắc tại Quảng Ninh. Sau 3 năm hoạt động ...
									.news-col
										figure
											figcaption 
												time 19/05/2017
												h1.news-name
													a(href="#") 9 triệu trứng gà CP Việt Nam đạt chuẩn an toàn thực phẩm theo chuỗi
												.news-des Được thành lập từ tháng 8 năm 2012 trên cơ sở là Chi nhánh Công ty CPTM Sabeco Miền Bắc tại Quảng Ninh. Sau 3 năm hoạt động ...
									.news-col
										figure
											figcaption 
												time 19/05/2017
												h1.news-name
													a(href="#") Công ty Cổ phần Chăn nuôi C.P. Việt Nam cam kết đồng hành cùng nông dân
												.news-des Được thành lập từ tháng 8 năm 2012 trên cơ sở là Chi nhánh Công ty CPTM Sabeco Miền Bắc tại Quảng Ninh. Sau 3 năm hoạt động ...
								a.btn-viewmore(href="#") Xem thêm
			.col-12.col-lg-3
				.row.flex.flex-wrap
					.sidebar-col.col-12.col-md-4.col-lg-12
						section.news-video.clearfix
							h3.small-title Video công ty
							.video
								figure
									a.video-img(href="https://www.youtube.com/watch?v=0NBp6PpD46k" data-fancybox)
										img(src="img/news/video.jpg", alt="alt")
									figcaption 
										h3.video-name 
											a(href="#") Giới thiệu Công ty Cổ phần Chăn nuôi C.P. Việt Nam
							.video 
								figure
									figcaption
										h3.video-name 
											a(href="https://www.youtube.com/watch?v=a1eLyXvQJR0" data-fancybox="") Đối thoại doanh nghiệp Việt Nam - Thái Lan
							.video 
								figure
									figcaption
										h3.video-name 
											a(href="https://www.youtube.com/watch?v=6wzwhWYq0FM" data-fancybox="") CPV's Monthly News | Điểm tin tháng 11/2017
							a.btn-viewmore(href="#") Xem thêm
					.sidebar-col.col-12
						section.news-album.clearfix
							h3.small-title Hình ảnh hoạt động
							.album
								figure
									.album-slide
										.item
											a.album-img(href="img/news/11.jpg" data-fancybox='album')
												img(src="img/news/11.jpg", alt="")
										.item
											a.album-img(href="img/news/12.jpg" data-fancybox='album')
												img(src="img/news/12.jpg", alt="")
										.item
											a.album-img(href="img/news/13.jpg" data-fancybox='album')
												img(src="img/news/13.jpg", alt="")
									.album-nav
										.item
											a.album-img(href="img/news/11.jpg" data-fancybox='album')
												img(src="img/news/11.jpg", alt="")
										.item
											a.album-img(href="img/news/12.jpg" data-fancybox='album')
												img(src="img/news/12.jpg", alt="")
										.item
											a.album-img(href="img/news/13.jpg" data-fancybox='album')
												img(src="img/news/13.jpg", alt="")
									figcaption
										h3.album-name
											a(href="#") Khai trương hàng loạt cửa hàng FIVE STAR
							a.btn-viewmore(href="#") Xem thêm