.footer-corp
	.container
		section.footertop.clearfix
			.row
				.col-custom
					.footer-col
						.title Giới thiệu
						nav.footer-link
							ul
								li
									a(href="#") Tổng quan
								li
									a(href="#") Ngành nghề kinh doanh
								li
									a(href="#") Nghiên cứu và phát triển
								li
									a(href="#") Quản lý chất lượng
				.col-custom
					.footer-col
						.title Sản phẩm
						nav.footer-link
							ul
								li
									a(href="#") Thức ăn chăn nuôi
								li
									a(href="#") Con giống
								li
									a(href="#") Sản phẩm thực phẩm
				.col-custom
					.footer-col
						.title Phát triển bền vững
						nav.footer-link
							ul
								li
									a(href="#") Thông Điệp
								li
									a(href="#") Chính sách phát triển bền vững
								li
									a(href="#") Hoạt động xã hội
								li
									a(href="#") Báo cáo phát triển bền vững
				.col-custom
					.footer-col
						.title Truyền thông
						nav.footer-link
							ul
								li
									a(href="#") Thông cáo báo chí
								li
									a(href="#") Tin tức & Sự kiện
								li
									a(href="#") Thư viện hình ảnh & Video
				.col-custom
					.footer-col
						.title Nhân sự
						nav.footer-link
							ul
								li
									a(href="#") Chính sách nhân sự
								li
									a(href="#") Học tập & phát triển nghề nghiệp
								li
									a(href="#") Cơ hội nghề nghệp
								li
									a(href="#") Thắc mắc thường gặp
		section.footer-contact.clearfix
			.row.no-gutters
				.col-12.col-lg-8.col-xl-9
					.contact-info
						a.link(href="#") Liên hệ
						.hotline
							.label Điện thoại:
							a(href="tel:0251 3836 251, 252,....259") 0251 3836 251, 252,....259
						.email
							.label Email:
							a(href="mailto:info@cp.com.vn") info@cp.com.vn
						a.viewmap(href="#") Xem bản đồ <i class="fa fa-arrow-right" aria-hidden="true"></i>
				.col-12.col-lg-4.col-xl-3
					.social
						.label Theo dõi chúng tôi
						a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
		section.footer-bottom.clearfix
			.copyright © 2017 C.P. VietNam. Tất cả các quyền được bảo hộ.
			nav.footer-nav
				a(href="#") Chính sách bảo mật
				a(href="#") Thoả thuận sử dụng
				a(href="#") Cookies
				a(href="#") Site map

.up <i class="fa fa-chevron-down" aria-hidden="true"></i>