section.banner-wrap.clearfix
	.banner.banner-feed
		.item
			.banner-img
				img(src="img/feed/bn1.jpg", alt="")
			.container
				.banner-caption
					.big Thức ăn chăn nuôi C.P. Việt Nam
					.des Nguyên liệu sản xuất thức ăn chăn nuôi được kiểm soát nghiêm ngặt, áp dụng công nghệ cao trong thiết lập khẩu phần cân đối, quản lý quá trình sản xuất tự động đảm bảo ổn định về chất lượng sản phẩm.
		//- .item
			.banner-img
				img(src="img/banner/f2.jpg", alt="")
			.container
				.banner-caption
					.big Phòng thí nghiệm thức ăn chăn nuôi
					.des Phòng Thí nghiệm là trung tâm phân tích và xét nghiệm các chỉ tiêu chính xác và đạt chuẩn với  hệ thống máy móc nhập khẩu châu Âu, công nghệ tiên tiến và đội ngũ chuyên gia hàng đầu luôn làm việc nghiêm túc và nhiệt tâm.
		//- .item
			.banner-img
				img(src="img/banner/f3.jpg", alt="")
			.container
				.banner-caption
					.big Nhà bếp của thế giới
					.des Chúng tôi luôn ý thức xây dựng thương hiệu bằng việc tuyệt đối khắt khe trong tất cả quy trình để đảm bảo tạo ra sản phẩm chất lượng và an toàn hàng đầu.