section.home-feed.clearfix
	.container
		h1.home-title.text-center Quy trình sản xuất thức ăn chăn nuôi
		.workflow-list.clearfix
			.workflow
				.row
					.col-12.col-lg-4
						.flow-text
							.flow-icon
								.icon
									img(src="img/feed/icon/1.png", alt="")
								.number 01
							.flow-content
								h3.flow-name Vùng trồng bắp
								.flow-des CPV đang tiến hành kết hợp cùng người nông dân Việt Nam với phương pháp nuôi trồng cho năng suất cao. Đồng thời CPV cũng khuyến khích, hỗ trợ nông dân để họ tự chủ  trong mọi hoạt động sản xuất.
					.col-12.col-lg-8
						.flow-img
							img(src="img/feed/home/1.jpg", alt="")
			.workflow.s2
				.row
					.col-12.col-lg-8
						.flow-img
							img(src="img/feed/home/2.jpg", alt="")
					.col-12.col-lg-4
						.flow-text
							.flow-icon
								.icon
									img(src="img/feed/icon/2.png", alt="")
								.number 02
							.flow-content
								h3.flow-name Nhà máy chế biến hạt giống bắp
								.flow-des Công ty hạt giống CPV (CP-Seeds) tại huyện Định Quán, Đồng Nai là địa chỉ uy tín cung cấp hạt giống bắp lai cho nhà nông, CPV sẽ thu mua bắp hạt thương phẩm làm nguyên liệu chế biến thức ăn chăn nuôi.
			.workflow.s3
				.row
					.col-12.col-lg-4
						.flow-text
							.flow-icon
								.icon
									img(src="img/feed/icon/3.png", alt="")
								.number 03
							.flow-content
								h3.flow-name Nhà máy thức ăn chăn nuôi
								.flow-des Nguyên liệu sản xuất thức ăn chăn nuôi được kiểm soát nghiêm ngặt, áp dụng công nghệ cao trong thiết lập khẩu phần cân đối, quản lý quá trình sản xuất tự động đảm bảo ổn định về chất lượng sản phẩm.
					.col-12.col-lg-8
						.flow-img
							img(src="img/feed/home/3.jpg", alt="")
			.workflow.s4
				.row
					.col-12.col-lg-8
						.flow-img
							img(src="img/feed/home/4.jpg", alt="")
					.col-12.col-lg-4
						.flow-text
							.flow-icon
								.icon
									img(src="img/feed/icon/4.png", alt="")
								.number 04
							.flow-content
								h3.flow-name Sản phẩm thức ăn chăn nuôi
								.flow-des Thức ăn chăn nuôi của CPV được sản xuất từ nguồn nguyên liệu đã được kiểm tra nghiêm ngặt cùng việc thiết lập khẩu phần cân đối các chất dinh dưỡng theo nhu cầu của vật nuôi.
								a.flow-link(href="#!") Xem sản phẩm
		.video
			a.play(href="#!" data-fancybox="video")
				img(src="img/feed/play.png", alt="")
				.text Xem video
section.home-feed-brand.clearfix
	.container
		h2.home-title.text-center Thương hiệu thức ăn chăn nuôi
		.brand-list
			.brand-col
				a.brand-logo(href="#!")
					img(src="img/feed/p1.png", alt="")
			.brand-col
				a.brand-logo(href="#!")
					img(src="img/feed/p2.png", alt="")
			.brand-col
				a.brand-logo(href="#!")
					img(src="img/feed/p3.png", alt="")
			.brand-col
				a.brand-logo(href="#!")
					img(src="img/feed/p4.png", alt="")
			.brand-col
				a.brand-logo(href="#!")
					img(src="img/feed/p5.png", alt="")