footer.footer-feed
	.container
		section.footertop.clearfix
			.row.flex-content-center
				//- .col-12.col-md-6.col-lg-3
					.footer-col
						.title Giới thiệu
						nav.footer-link
							ul
								li
									a(href="#") Tổng quan
								li
									a(href="#") Ngành nghề kinh doanh
								li
									a(href="#") Nghiên cứu và phát triển
								li
									a(href="#") Quản lý chất lượng
				//- .col-12.col-md-6.col-lg-3
					.footer-col
						.title Sản phẩm
						nav.footer-link
							ul
								li
									a(href="#") Thức ăn cho heo
								li
									a(href="#") Thức ăn gà thịt & gà đẻ
								li
									a(href="#") Thức ăn cho vịt
								li
									a(href="#") Thức ăn cho chim cút
								li
									a(href="#") Thức ăn bò thịt & bò sữa
								li
									a(href="#") Thức ăn cho tôm
								li
									a(href="#") Thức ăn cho cá

				//- .col-12.col-md-6.col-lg-3
					.footer-col
						.title Quy trình sản xuất
						nav.footer-link
							ul
								li
									a(href="#") Sản xuất thức ăn chăn nuôi
								li
									a(href="#") Sản xuất thức ăn thủy sản
				.col-12.col-md-6.col-lg-3
					.footer-col
						.social
							a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-linkedin" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>

		section.footer-bottom.clearfix
			.company Công ty cổ phần chăn nuôi C.P. Việt Nam (CPV)
			.address Số 2, Đường 2A, Khu Công nghiệp Biên Hòa II, P. Long Bình Tân, Tp. Biên Hòa, tỉnh Đồng Nai 
				br
				|ĐT: 0251-3836 251, 252, ... ,259 - Fax: 0251-3836 086
			.copyright © 2017 C.P. VietNam. Tất cả các quyền được bảo hộ.

.up <i class="fa fa-chevron-down" aria-hidden="true"></i>