section.banner-wrap.clearfix
	.banner.banner-food
		//- .item
			.banner-img
				img(src="img/food/bn1.jpg", alt="")
			.container
				.banner-caption
					.big Tầm nhìn trở thành "Nhà bếp của Thế giới"
					.des Công ty chúng tôi cam kết thực hiện mong muốn của người tiêu dùng đã hài lòng cũng như người tiêu dùng có sở thích thay đổi món ăn theo thời gian về sản phẩm thực phẩm chất lượng có giá trị dinh dưỡng cao và đảm bảo vệ sinh, an toàn thực phẩm.
		//- .item
			.banner-img
				img(src="img/food/bn2.jpg", alt="")
			.container
				.banner-caption
					.big đảm bảo chất lượng, an toàn thực phẩm
					.des Chúng tôi áp dụng tiêu chuẩn công nghệ cao trong sản xuất để đạt được chất lượng và an toàn thực phẩm. Đồng thời chúng tôi luôn ý thức xây dựng thương hiệu là nhằm tuyệt đối khắt khe trong việc đảm bảo chất lượng, an toàn thực phẩm và độ ngon của các sản phẩm thực phẩm của chúng tôi.
		.item
			.banner-img
				img(src="img/food/bn1.jpg", alt="")
			.container
				.banner-caption
					.big Nhà bếp của thế giới
					.des Chúng tôi luôn ý thức xây dựng thương hiệu để giữ vững lòng tin của người tiêu dùng bằng việc kiểm soát tuyệt đối khắt khe toàn bộ quy trình sản xuất nhằm đảm bảo chất lượng và an toàn vệ sinh thực phẩm.