.container
	section.home-food
		h1.home-title.text-center Quy trình khép kín
		.home-des.text-center Sản phẩm thực phẩm của C. P. Việt Nam được sản xuất từ hệ thống được kiểm soát chặt chẽ theo nguyên tắc chuỗi khép kín “Thức ăn chăn nuôi - Trang trại chăn nuôi – Nhà máy chế biến thực phẩm” (Feed-Farm-Food)
		.home-inro
			.row
				.col-12.col-md-6
					.intro
						h3.intro-name An toàn thực phẩm
						figure
							.intro-img
								img(src="img/food/home/h1.jpg", alt="")
							figcaption
								.intro-des Hệ thống sản xuất đa ngành khép kín theo mô hình “Thức ăn chăn nuôi - Trang trại - Thực phẩm” là một thế mạnh của công ty Cổ phần Chăn nuôi C.P. Việt Nam trong sản xuất thực phẩm chất lượng cao và an toàn cho người tiêu dùng.
				.col-12.col-md-6
					.intro.s2
						h3.intro-name Truy xuất nguồn gốc
						figure
							.intro-img
								img(src="img/food/home/h2.jpg", alt="")
							figcaption
								.intro-des Truy xuất nguồn gốc điện tử là phương pháp thông tin hiện đại để người tiêu dùng có thể hiểu rõ hơn xuất xứ và chất lượng sản phẩm. Khi người tiêu dùng sử dụng smartphone quét tem truy xuất, mọi thông tin cần biết về sản phẩm sẽ được hiển thị.
	section.home-food2
		h2.home-title.text-center Thương hiệu và sản phẩm
		.brand-list
			.brand-col
				a.brand-logo(href="#!")
					img(src="img/food/p1.png", alt="")
			.brand-col
				a.brand-logo(href="#!")
					img(src="img/food/p2.png", alt="")
			//- .brand-col
				a.brand-logo(href="#!")
					img(src="img/food/p3.png", alt="")
		.product-list
			.row
				article.col-12.col-md-6.col-lg-3
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/food/home/p1.png", alt="")
							figcaption
								h3.product-name
									a(href="#!") Thực phẩm tươi
				article.col-12.col-md-6.col-lg-3
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/food/home/p2.png", alt="")
							figcaption
								h3.product-name
									a(href="#!") Thực phẩm chế biến
				article.col-12.col-md-6.col-lg-3
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/food/home/p3.png", alt="")
							figcaption
								h3.product-name
									a(href="#!") Xúc xích
				article.col-12.col-md-6.col-lg-3
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/food/home/p4.png", alt="")
							figcaption
								h3.product-name
									a(href="#!") Thủy sản chế biến
		.five-star
			.logo
				img(src="img/food/p3.png", alt="")
		.product-slick
			.item
				.product
					figure
						a.product-img(href="#!")
							img(src="img/food/home/pr1.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Gà giòn giòn
			.item
				.product
					figure
						a.product-img(href="#!")
							img(src="img/food/home/pr2.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Gà giòn cay
			.item
				.product
					figure
						a.product-img(href="#!")
							img(src="img/food/home/pr3.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Khoai tây lắc
			.item
				.product
					figure
						a.product-img(href="#!")
							img(src="img/food/home/pr4.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") NUGGET cá
			.item
				.product
					figure
						a.product-img(href="#!")
							img(src="img/food/home/pr1.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Gà giòn giòn
			.item
				.product
					figure
						a.product-img(href="#!")
							img(src="img/food/home/pr2.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Gà giòn cay

//- section.home-foodproduct.clearfix
	.container
		.product-list
			.row.flex-content-center
				.col-12.col-lg-6
					.product-progress
						h3.cate-name Gà
						a.product-card(href="#!")
							img(src="img/food/pr1.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr2.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr3.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr4.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr5.png", alt="")
				.col-12.col-lg-6
					.product-progress
						h3.cate-name Tôm
						a.product-card(href="#!")
							img(src="img/food/pr6.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr7.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr8.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr9.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr10.png", alt="")
				.col-12.col-lg-6
					.product-progress
						h3.cate-name Cá
						a.product-card(href="#!")
							img(src="img/food/pr11.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr12.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr13.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr14.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr15.png", alt="")
				.col-12.col-lg-6
					.product-progress
						h3.cate-name Heo
						a.product-card(href="#!")
							img(src="img/food/pr16.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr17.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr18.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr19.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr20.png", alt="")
				.col-12.col-lg-6
					.product-progress
						h3.cate-name Xúc xích
						a.product-card(href="#!")
							img(src="img/food/pr21.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr22.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr23.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr24.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr25.png", alt="")
			//- .brand-col
				a.brand-logo(href="#!")
					img(src="img/food/p4.png", alt="")
			//- .brand-col
				a.brand-logo(href="#!")
					img(src="img/feed/p5.png", alt="")
