extends _layout/layout

block variables
	- var title = 'CP Group'
	- var bodyclass = ''

block css

block body
	include _layout/header-feed
	main
		include _layout/feed/ct-sanpham2
	include _layout/footer-feed