section.banner-page.clearfix
	.banner-img
		img(src="img/feed/brgioithieu.jpg", alt="")
	.container
		.page-intro
			h1.page-name Thức ăn chăn nuôi
				br
				|C.P. Việt Nam
			.intro-content CP Việt Nam tiếp thu toàn bộ khoa học công nghệ từ CPG và tự hào là doanh nghiệp dẫn đầu về sản xuất thức ăn chăn nuôi và thủy sản tại Việt Nam.
nav.top-nav.clearfix
	ul.top-link
		li
			a(href="#part-1" rel='m_PageScroll2id') Tổng quan
		li
			a(href="#part-2" rel='m_PageScroll2id') Ngành nghề kinh doanh
		li
			a(href="#part-3" rel='m_PageScroll2id') Nghiên cứu và phát triển
		li
			a(href="#part-4" rel='m_PageScroll2id') Quản lý chất lượng
section#part-1.about-section.about-intro.clearfix
	.container
		h2.page-title.text-center Công ty thức ăn chăn nuôi C.P. Việt Nam
		.page-des.text-center Với mô hình chăn nuôi hiện đại, CPV đã góp phần không nhỏ vào sự phát triển của ngành chăn nuôi Việt Nam, thúc đẩy quá trình chuyển đổi phương thức sản xuất nhỏ lẻ sang mô hình chăn nuôi công nghiệp tập trung, đã được Bộ NNPTNT tặng bằng khen vào ngày 4 tháng 12 năm 2015.
		.intro-feature
			.row
				article.col-12.col-md-6.col-lg-3
					.feature
						figure
							.icon
								img(src="img/feed/i1.png", alt="")
							figcaption
								.number
									strong.counter 10
								.name Nhà máy sơ chế và sản xuất
									br
									|thức ăn chăn nuôi
				article.col-12.col-md-6.col-lg-3
					.feature
						figure
							.icon
								img(src="img/feed/i2.png", alt="")
							figcaption
								.number
									strong.counter(data-thousand-delimiter=".") 3000
								.name Trang trại trên
									br
									|toàn quốc
				article.col-12.col-md-6.col-lg-3
					.feature
						figure
							.icon
								img(src="img/feed/i3.png", alt="")
							figcaption
								.number
									strong.counter(data-thousand-delimiter=".") 400000
								.name Lao động có việc làm
									br
									|ổn định
				article.col-12.col-md-6.col-lg-3
					.feature
						figure
							.icon
								img(src="img/feed/i4.png", alt="")
							figcaption
								.number
									strong.counter(data-decimals="1" data-decimal-delimiter=".") 3.8
									span triệu tấn
								.name Thức ăn sản xuất
									br
									|hàng năm
		.row
			.col-12.col-lg-6
				.intro-content
					h3.about-stitle Doanh nghiệp dẫn đầu trong sản xuất thực phẩm an toàn
					.content
						p Hiện tại, CPV đang tiến hành chuyển giao công nghệ chăn nuôi khép kín, năng suất cao cho người chăn nuôi Việt Nam thông qua hình thức chăn nuôi hợp đồng. CPV cũng khuyến khích, hỗ trợ nông dân để họ tự chủ trong hoạt động chăn nuôi, giúp họ trở thành khách hàng của CPV trong tương lai. Bằng hình thức liên kết chăn nuôi hợp đồng, CPV đã hợp tác với nông dân phát triển hơn 3,000 trang trại trên toàn quốc và tạo công ăn việc làm cho khoảng 400,000 lao động.
						p Với chuỗi giá trị sản xuất khép kín “Feed – Farm – Food”, CPV đã trở thành doanh nghiệp dẫn đầu trong sản xuất thực phẩm an toàn. Theo đó, CPV đã đầu tư xây dựng 1 nhà máy sơ chế bắp làm nguyên liệu chế biến thức ăn chăn nuôi, 6 nhà máy sản xuất thức ăn chăn nuôi gia súc – gia cầm và 3 nhà máy sản xuất thức ăn thủy sản với tổng công suất hàng năm 3.8 triệu tấn.
		.intro-img
			img(src="img/feed/introimg.png", alt="")
section#part-2.about-section.about-service.clearfix
	.container
		h2.page-title.text-center Ngành nghề kinh doanh
		.page-des.text-center Quy trình khép kín từ trồng nguyên liệu cho đến sản xuất thức ăn thành phẩm
	.service-list
		.row.no-gutters
			article.col-12.col-lg-6
				.service-col
					.service-img.img-slide
						.item
							figure
								img(src="img/feed/sv1.jpg", alt="")
								figcaption
									h3.service-name CP Seed - Vùng trồng bắp
									.service-des CPV đang tiến hành kết hợp cùng người nông dân Việt Nam với  phương pháp nuôi trồng cho năng suất cao. Đồng thời CPV cũng khuyến khích, hỗ trợ nông dân để họ tự chủ  trong mọi hoạt động sản xuất cải thiện tốt nhất cuộc sống.
						.item
							figure
								img(src="img/feed/sv1.jpg", alt="")
								figcaption
									h3.service-name CP Seed - Vùng trồng bắp
									.service-des CPV đang tiến hành kết hợp cùng người nông dân Việt Nam với  phương pháp nuôi trồng cho năng suất cao. Đồng thời CPV cũng khuyến khích, hỗ trợ nông dân để họ tự chủ  trong mọi hoạt động sản xuất cải thiện tốt nhất cuộc sống.
						.item
							figure
								img(src="img/feed/sv1.jpg", alt="")
								figcaption
									h3.service-name CP Seed - Vùng trồng bắp
									.service-des CPV đang tiến hành kết hợp cùng người nông dân Việt Nam với  phương pháp nuôi trồng cho năng suất cao. Đồng thời CPV cũng khuyến khích, hỗ trợ nông dân để họ tự chủ  trong mọi hoạt động sản xuất cải thiện tốt nhất cuộc sống.
			article.col-12.col-lg-6
				.service-col
					.service-img.img-slide
						.item
							figure
								img(src="img/feed/sv2.jpg", alt="")
								figcaption
									h3.service-name CP Feed - Nhà máy sản xuất thức ăn
									.service-des Nhà máy thức ăn chăn nuôi Hải Dương, một trong số nhà máy thế hệ mới của thế giới, được thiết kế và xây dựng bằng công nghệ hiện đại, đoạt giải thưởng “Đại bàng” của Mỹ.
						.item
							figure
								img(src="img/feed/sv2.jpg", alt="")
								figcaption
									h3.service-name CP Feed - Nhà máy sản xuất thức ăn
									.service-des Nhà máy thức ăn chăn nuôi Hải Dương, một trong số nhà máy thế hệ mới của thế giới, được thiết kế và xây dựng bằng công nghệ hiện đại, đoạt giải thưởng “Đại bàng” của Mỹ.
						.item
							figure
								img(src="img/feed/sv2.jpg", alt="")
								figcaption
									h3.service-name CP Feed - Nhà máy sản xuất thức ăn
									.service-des Nhà máy thức ăn chăn nuôi Hải Dương, một trong số nhà máy thế hệ mới của thế giới, được thiết kế và xây dựng bằng công nghệ hiện đại, đoạt giải thưởng “Đại bàng” của Mỹ.
section#part-3.about-section.about-improving.clearfix
	.container
		h2.page-title.text-center Nghiên cứu và phát triển
		.page-des.text-center Không ngừng nghiên cứu và phát triển công nghệ để mang đến sản phẩm tốt nhất cho người tiêu dùng
	.improve-list
		.row.no-gutters
			article.col-12.col-lg-6
				.improve-col
					figure
						.improve-img
							img(src="img/feed/about1.jpg", alt="")
						figcaption
							h3.improve-name Phòng điều khiển
							.improve-des Các nhà máy chế biến thực phẩm (thịt và thủy sản) chất lượng cao, đạt tiêu chuẩn quốc tế được CPV đầu tư xây dựng tại các địa bàn Đồng Nai, Hà Nội, Bến Tre và Thừa Thiên – Huế. Đồng thời, CPV đang đẩy mạnh phát triển hệ thống phân phối thực phẩm sạch, an toàn, đảm bảo chất lượng đến người tiêu dùng thông qua các kênh như CP Shop, Fresh Mart và hệ thống các siêu thị trên toàn quốc. 
			article.col-12.col-lg-6
				.improve-col
					figure
						.improve-img.improve-img-slide
							.item
								img(src="img/feed/about2.jpg", alt="")
							.item
								img(src="img/feed/about2.jpg", alt="")
							.item
								img(src="img/feed/about2.jpg", alt="")
						figcaption
							h3.improve-name Phòng thí nghiệm
							.improve-des Phòng Thí nghiệm là trung tâm phân tích và xét nghiệm các chỉ tiêu chính xác và đạt chuẩn với  hệ thống máy móc nhập khẩu châu Âu, công nghệ tiên tiến và đội ngũ chuyên gia hàng đầu luôn làm việc nghiêm túc và nhiệt tâm.
section#part-4.about-section.about-quality.clearfix
	.container
		h2.page-title.text-center Quản lý chất lượng
		.page-des.text-center CPV đã đạt nhiều giải thưởng và chứng nhận trong nước và quốc tế
	.quality-banner
		img(src="img/feed/about3.jpg", alt="")
	.container
		.cert-list
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award1.png" data-fancybox="cert")
							img(src="img/feed/award1.png", alt="")
						figcaption
							h3.cert-name Giải váng chất lượng Quốc gia năm 2013
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award2.png" data-fancybox="cert")
							img(src="img/feed/award2.png", alt="")
						figcaption
							h3.cert-name Giải váng chất lượng Quốc gia năm 2013
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award3.png" data-fancybox="cert")
							img(src="img/feed/award3.png", alt="")
						figcaption
							h3.cert-name Giải váng chất lượng Quốc gia năm 2013
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award4.png" data-fancybox="cert")
							img(src="img/feed/award4.png", alt="")
						figcaption
							h3.cert-name Giải váng chất lượng Quốc gia năm 2013
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award1.png" data-fancybox="cert")
							img(src="img/feed/award1.png", alt="")
						figcaption
							h3.cert-name Giải váng chất lượng Quốc gia năm 2013
			.item
				.cert
					figure
						a.cert-img(href="img/feed/award1.png" data-fancybox="cert")
							img(src="img/feed/award1.png", alt="")
						figcaption
							h3.cert-name Giải váng chất lượng Quốc gia năm 2013
