section.banner-page.clearfix
	.banner-img
		img(src="img/feed/brsanxuat.jpg", alt="")
	.container
		.page-intro
			h1.page-name Quy trình sản xuất thức ăn chăn nuôi
			.intro-content Chúng tôi áp dụng quy trình sản xuất khép kín theo tiêu chuẩn quốc tế đồng thời cùng tham vấn cùng đội ngũ chuyên gia tâm huyết và giàu kinh nghiệm.

section.work-page.clearfix
	.container
		.page-des.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
		.workflow
			.work-map
				img(src="img/feed/workmap.png", alt="")
			.work-list
				.work
					figure
						.work-img
							img(src="img/feed/work1.png", alt="")
						figcaption
							.number 1
							.text Nông sản thô chất lượng
				.work
					figure
						.work-img
							img(src="img/feed/work2.png", alt="")
						figcaption
							.number 2
							.text Nghiên cứu trực tiếp tại phòng thí nghiệm
				.work
					figure
						.work-img
							img(src="img/feed/work3.png", alt="")
						figcaption
							.number 3
							.text Sản xuất sản phẩm tại nhà máy theo những quy chuẩn chất lượng cao
				.work
					figure
						.work-img
							img(src="img/feed/work4.png", alt="")
						figcaption
							.number 4
							.text Phòng điều khiển khảo sát nghiêm ngặt tất cả quy trình
				.work
					figure
						.work-img
							img(src="img/feed/work5.png", alt="")
						figcaption
							.number 5
							.text Hệ thống tự động hoá trong sản xuất
				.work
					figure
						.work-img
							img(src="img/feed/work6.png", alt="")
						figcaption
							.number 6
							.text Thành phẩm tới tay người tiêu dùng
