section.banner-page.clearfix
	.banner-img
		img(src="img/feed/brsanpham.jpg", alt="")
	.container
		.page-intro
			h1.page-name Sản phẩm thức ăn chăn nuôi C.P. Việt Nam
			.intro-content Thức ăn chăn nuôi của CPV được sản xuất từ nguồn nguyên liệu đã được kiểm tra kỹ đồng thời được thiết lập khẩu phần cân đối các chất dinh dưỡng
section.product-page.clearfix
	.container
		h1.page-title.text-center Thức ăn chăn nuôi
		.page-des.text-center Thức ăn chăn nuôi của CPV được sản xuất từ ​​nguồn nguyên liệu đã được kiểm tra kỹ. Thiết lập khẩu phần cân đối các chất dinh dưỡng theo nhu cầu của từng loại vật nuôi. Sử dụng công nghệ cao trong sản xuất tại các nhà máy đạt chứng nhận tiêu chuẩn quốc tế. Do vậy, thức ăn chăn nuôi của CPV có hiệu suất chuyển hóa cao nhằm tối ưu lợi nhuận của người chăn nuôi.
		.category-list
			.row.flex-content-center
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/feed/c1.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn cho heo
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/feed/c2.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn gà thịt & gà đẻ
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/feed/c3.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn cho vịt
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/feed/c4.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn cho chim cút
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/feed/c5.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn bò thịt & bò sữa
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/feed/c6.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn cho tôm
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.category
						figure
							a.category-img(href="#!")
								img(src="img/feed/c7.png", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thức ăn cho cá