section.banner-page.clearfix
	.banner-img
		img(src="img/farm/br1.jpg", alt="")
	.container
		.page-intro
			h1.page-name Con giống
			.intro-content C.P. Việt Nam cam kết sản xuất các sản phẩm thực phẩm có chất lượng đảm bảo vệ sinh và có mức độ an toàn cao nhất trong khi vẫn giữ được môi trường thân thiện và trách nhiệm xã hội.
section.product-page.clearfix
	.container.fullwidth
		h1.page-title.text-center Heo giống
		.pig-list
			.row
				article.col-12.col-sm-6.col-lg-3
					.pig-col
						figure
							a.pig-img(href="#!")
								img(src="img/farm/pig/1.jpg", alt="")
							figcaption
								h2.pig-name
									a(href="#!") Heo con nuôi thịt trọng lượng 20 - 25kg/con
				article.col-12.col-sm-6.col-lg-3
					.pig-col
						figure
							a.pig-img(href="#!")
								img(src="img/farm/pig/2.jpg", alt="")
							figcaption
								h2.pig-name
									a(href="#!") Heo cái hậu bị bô mẹ PS(CP909) trọng lượng 900 - 100 kg/con
				article.col-12.col-sm-6.col-lg-3
					.pig-col
						figure
							a.pig-img(href="#!")
								img(src="img/farm/pig/3.jpg", alt="")
							figcaption
								h2.pig-name
									a(href="#!") Heo đực giống cuối CP709 và CP809 trọng lượng 90 - 100 kg/con dùng để phối giống với heo nái bố mẹ để sản xuất heo thịt thương phẩm
				article.col-12.col-sm-6.col-lg-3
					.pig-col
						figure
							a.pig-img(href="#!")
								img(src="img/farm/pig/4.jpg", alt="")
							figcaption
								h2.pig-name
									a(href="#!") Cung cấp tinh heo đực giống cuối CP709 và CP809 để sản xuất heo thịt thương phẩm