section.banner-page.clearfix
	.banner-img
		img(src="img/farm/br1.jpg", alt="")
	.container
		.page-intro
			h1.page-name Con giống
			.intro-content C.P. Việt Nam cam kết sản xuất các sản phẩm thực phẩm có chất lượng đảm bảo vệ sinh và có mức độ an toàn cao nhất trong khi vẫn giữ được môi trường thân thiện và trách nhiệm xã hội.
section.product-page.clearfix
	.container
		h1.page-title.text-center Heo cái hậu bị bố mẹ PS (CP909)
		.row
			.col-12.col-lg-6
				a.pig-slide(href="#!")
					img(src="img/farm/pig/img1.jpg", alt="")
			.col-12.col-lg-6
				section.pig-info
					h2.info-title Đặc điểm
					.pig-overview.content
						ul
							li Đẻ nhiều con
							li Khả năng nuôi con xuất sắc
							li Sức sống mạnh mẽ
							li Sinh sản ra đàn con mau lớn và có khả năng chuyển hóa thức ăn tốt
					h2.info-title Thành tích sản xuất
					table.table
						tr
							td Tỉ lệ nái đẻ/ nái phối giống đậu thai (%)
							td 89.6
						tr
							td Số heo con đẻ ra/ lứa (con)
							td 12,98
						tr
							td Số heo con đẻ ra 
							td 12.16
						tr
							td Số lứa đẻ/ nái/ năm
							td 2.26
						tr
							td Số heo con cai sữa/ lứa (con)
							td 11.02
						tr
							td Số heo con cai sữa/ nái/ năm: (con)
							td 27.1
		.page-des.pig-des.text-center CP hướng tới mô hình chăn nuôi tiên tiến của thế giới: tạo điều kiện sống cho động vật một cách an toàn và thoải mái nhất, nguồn dinh dưỡng cân đối và phù hợp nhất để giúp con vật phát huy hết khả năng vốn có của chúng.
		.pig-description.clearfix
			.pig-content
				figure
					.img
						img(src="img/farm/pig/pic1.jpg", alt="")
					figcaption
						.text Tổng qui mô đàn của trại gồm 200 nái GGP, 600 nái GP, 1600 nái PS và hơn 5000 con heo con theo mẹ, được xây dựng theo mô hình chăn nuôi khép kín theo chuỗi để có thể truy xuất nguồn gốc dễ dàng trên từng con heo con xuất ra. Nhờ hệ thống các phần mềm quản lý chặt chẽ, đàn nái giống nhập ngoại của trại được nhân giống và tuyển chọn nghiêm ngặt nhằm phát huy hết tiềm năng di truyền của đàn giống cao sản này.
			.pig-content
				figure
					.img
						img(src="img/farm/pig/pic2.jpg", alt="")
					figcaption
						.text Để đáp ứng được các nhu cầu sinh trưởng và phát triển của đàn giống nhập ngoại, trại được thiết kế với hệ thống điều hòa không khí có kiểm soát nhiệt độ và ẩm độ để đảm bảo điều kiện sống tốt nhất. Diện tích và bố trí các ô chuồng phù hợp với mô hình quản lý luân chuyển heo theo từng trạng thái sản xuất của đàn heo, giúp nhân viên chăm sóc dễ dàng điều chỉnh tiểu khí hậu chuồng nuôi phù hợp với từng loại và lứa tuổi heo.
	.other-pig
		.container.fullwidth
			h3.page-title.text-center Các giống heo khác
			.pig-list
				.row
					article.col-12.col-sm-6.col-lg-3
						.pig-col
							figure
								a.pig-img(href="#!")
									img(src="img/farm/pig/1.jpg", alt="")
								figcaption
									h4.pig-name
										a(href="#!") Heo con nuôi thịt trọng lượng 20 - 25kg/con
					article.col-12.col-sm-6.col-lg-3
						.pig-col
							figure
								a.pig-img(href="#!")
									img(src="img/farm/pig/2.jpg", alt="")
								figcaption
									h4.pig-name
										a(href="#!") Heo cái hậu bị bô mẹ PS(CP909) trọng lượng 900 - 100 kg/con
					article.col-12.col-sm-6.col-lg-3
						.pig-col
							figure
								a.pig-img(href="#!")
									img(src="img/farm/pig/3.jpg", alt="")
								figcaption
									h4.pig-name
										a(href="#!") Heo đực giống cuối CP709 và CP809 trọng lượng 90 - 100 kg/con dùng để phối giống với heo nái bố mẹ để sản xuất heo thịt thương phẩm
					article.col-12.col-sm-6.col-lg-3
						.pig-col
							figure
								a.pig-img(href="#!")
									img(src="img/farm/pig/4.jpg", alt="")
								figcaption
									h4.pig-name
										a(href="#!") Cung cấp tinh heo đực giống cuối CP709 và CP809 để sản xuất heo thịt thương phẩm