section.banner-page.clearfix
	.banner-img
		img(src="img/food/brchungnhan.jpg", alt="")
	.container
		.page-intro
			h1.page-name Chứng nhận - Giải thưởng
			.intro-content C.P. Việt Nam cam kết sản xuất các sản phẩm thực phẩm có chất lượng đảm bảo vệ sinh và có mức độ an toàn cao nhất trong khi vẫn giữ được môi trường thân thiện và trách nhiệm xã hội.
nav.top-nav.clearfix
	ul.top-link
		li
			a(href="#part-1" rel='m_PageScroll2id') Chứng nhận quốc gia
		li
			a(href="#part-2" rel='m_PageScroll2id') Chứng nhận quốc tế
		//- li
			a(href="#part-3" rel='m_PageScroll2id') Nghiên cứu và phát triển
section#part-1.product-page.award-page.clearfix
	.container
		
		h2.page-title.text-center Chứng nhận quốc gia
		.award-list
			.row
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/1.png", alt="")
							figcaption
								h3.award-name Giải vàng chất lượng Quốc gia năm 2013
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/2.png", alt="")
							figcaption
								h3.award-name Giải thưởng tình nguyện Quốc gia năm 2013
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/3.png", alt="")
							figcaption
								h3.award-name Thành tích đóng góp cho ngành nông nghiệp giai đoạn 2010-2015
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/4.png", alt="")
							figcaption
								h3.award-name Giải thưởng bông lúa vàng năm 2015
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/5.png", alt="")
							figcaption
								h3.award-name Bằng khen bộ trưởng bộ y tế năm 2013
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/6.png", alt="")
							figcaption
								h3.award-name Bằng khen chương trình Hành trình đỏ 2015
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/7.png", alt="")
							figcaption
								h3.award-name Chứng nhận 500 doanh nghiệp lớn nhất Việt Nam năm 2015
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/8.png", alt="")
							figcaption
								h3.award-name Chứng nhận giải thưởng Giọt Hồng năm 2015
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/9.png", alt="")
							figcaption
								h3.award-name Kỷ lục Ngày hội có số người khám bệnh, cấp phát thuốc miễn phí nhiều nhất Việt Nam
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/10.png", alt="")
							figcaption
								h3.award-name Giải vàng chất lượng quốc gia năm 2013

section#part-2.product-page.award-page.clearfix
	.container
		h2.page-title.text-center Chứng nhận quốc tế
		.award-list
			.row
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/1.png", alt="")
							figcaption
								h3.award-name Giải vàng chất lượng Quốc gia năm 2013
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/2.png", alt="")
							figcaption
								h3.award-name Giải thưởng tình nguyện Quốc gia năm 2013
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/3.png", alt="")
							figcaption
								h3.award-name Thành tích đóng góp cho ngành nông nghiệp giai đoạn 2010-2015
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/4.png", alt="")
							figcaption
								h3.award-name Giải thưởng bông lúa vàng năm 2015
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/5.png", alt="")
							figcaption
								h3.award-name Bằng khen bộ trưởng bộ y tế năm 2013
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/6.png", alt="")
							figcaption
								h3.award-name Bằng khen chương trình Hành trình đỏ 2015
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/7.png", alt="")
							figcaption
								h3.award-name Chứng nhận 500 doanh nghiệp lớn nhất Việt Nam năm 2015
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/8.png", alt="")
							figcaption
								h3.award-name Chứng nhận giải thưởng Giọt Hồng năm 2015
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/9.png", alt="")
							figcaption
								h3.award-name Kỷ lục Ngày hội có số người khám bệnh, cấp phát thuốc miễn phí nhiều nhất Việt Nam
				article.col-12.col-md-4.col-lg-3
					.award-col
						figure
							a.award-img(href="#!")
								img(src="img/farm/award/10.png", alt="")
							figcaption
								h3.award-name Giải vàng chất lượng quốc gia năm 2013