section.banner-page.clearfix
	.banner-img
		img(src="img/food/brsanpham.jpg", alt="")
	.container
		.page-intro
			h1.page-name THỰC PHẨM TƯƠI
			.intro-content Chúng tôi sử dụng nguồn thực phẩm chất lượng cao, nuôi trong hệ thống trang trại hiện đại khép kín được kiểm soát nghiêm ngặt nhằm ngăn ngừa tuyệt đối dịch bệnh và nhiễm bẩn.
.container
	.row
		.col-12.col-lg-4.col-xl-3
			.product-sidebar
				h1.product-cate Thực phẩm tươi
				ul.cate-link
					li
						a(href="#!") Thịt heo
					li
						a(href="#!") Thịt gà
					li
						a(href="#!") Trứng
				.cate-img
					figure
						img(src="img/food/product/p1.png", alt="")
						figcaption Danh mục thực phẩm tươi
			.sidebar-ad
				a(href="#!")
					img(src="img/food/product/ads.jpg", alt="")
		.col-12.col-lg-8.col-xl-9
			.product-page
				.product-group
					h2.product-title Thịt heo
					.product-list
						.row
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
				.product-group
					h2.product-title Thịt heo
					.product-list
						.row
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
				.product-group
					h2.product-title Thịt heo
					.product-list
						.row
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo
							.col-6.col-sm-4.col-lg-6.col-xl-4
								.product
									figure
										a.product-img(href="#!")
											img(src="img/food/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Vai heo