section.banner-page.clearfix
	.banner-img
		img(src="img/feed/br2.jpg", alt="")
	h1.page-name Sản phẩm thức ăn chăn nuôi
		br
		| C.P. Việt Nam
section.product-page.clearfix
	.container
		h1.page-title.text-center Thức ăn cho heo
		.row
			.col-12.col-lg-4.col-xl-3
				nav.product-category
					ul.category-link
						li.hassub.active
							a(href="#!") Thức ăn cho heo
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li.active
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn gà thịt & gà đẻ
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn cho vịt
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn cho chim cút
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn cho bò & bò sữa
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn cho tôm
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
						li.hassub
							a(href="#!") Thức ăn cho cá
							.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul
									li
										a(href="#!") Nhãn hiệu Hi-gro
									li
										a(href="#!") Nhãn hiệu CP
									li
										a(href="#!") Nhãn hiệu Star Feed
									li
										a(href="#!") Nhãn hiệu Novo
									li
										a(href="#!") Nhãn hiệu Bell Feed
			.col-12.col-lg-8.col-xl-9
				.product-list
					.row
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
						article.col-12.col-sm-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/feed/pr1.png", alt="")
									figcaption
										h2.product-name
											a(href="#!") 550S - Heo sữa
				.pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3