section.banner-page.clearfix
	.banner-img
		img(src="img/feed/br2.jpg", alt="")
	h2.page-name Sản phẩm thức ăn chăn nuôi
		br
		| C.P. Việt Nam
section.product-page.clearfix
	.container
		.row
			.col-12.col-lg-5
				.product-slide
					.item
						a.img(href="#!")
							img(src="img/feed/pr1.png", alt="")
			.col-12.col-lg-7
				.product-info
					h1.product-name 552s heo thịt siêu nạc, heo thịt giống tốt
					.product-overview.content
						p Cơ thể động vật nuôi luôn phải đối diện với những tác nhân gây bệnh, tuy nhiên trong đa số trường hợp, chúng vẫn khỏe mạnh, đó là do cơ thể có sự đề kháng chống lại sự nhiễm bệnh thông qua đáp ứng miễn dịch. Bằng những nghiên cứu khoa học và tỉ mỉ, công ty Japfa Comfeed đã đưa ra công thức cân bằng dinh dưỡng hoàn hảo, với sự bổ sung đặc biệt Probiotic, Prebiotic, Acid Butyric, các loại vitamin và khoáng chất tổng hợp, hỗ trợ Tăng cường hệ miễn dịch ở  heo đặc thù trong từng giai đoạn.
						p B16 được nghiên cứu sản xuất cho heo giai đoạn từ 35 đến 65 kg. B16 cung cấp hàm lượng đạm tiêu hóa, năng lượng cùng với hàm lượng vitamin nhóm B và khoáng tổng hợp cung cấp đủ cho giai đoạn tăng trưởng. Ngoài ra, B16 còn bổ sung thêm Crom để cải thiện đáng kể diện tích thịt thăn trên heo thịt, tham gia cấu tạo nên phức chất với isulin.
			.col-12
				.product-description
					table.product-table
						tr
							th(colspan="2") Thành phần dinh dưỡng
						tr
							td Độ ẩm (%) max:
							td 13
						tr
							td Đạm thô (%) min:
							td 15
						tr
							td Xơ thô: (%) max
							td 8
						tr
							td Ca (%) min-max:
							td 0.6 - 1.5
						tr
							td P tổng số (%) min-max:
							td 0.5 - 1.3
						tr
							td Lysine tổng số (%) min:
							td 0.68
						tr
							td Methionine+Cystine tổng số (%) min:
							td 0.45
						tr
							td Năng lượng trao đổi (Kcal/kg) min:
							td 3.000
						tr
							td Chlotetracyclin (mg/kg) max:
							td 50
						tr
							td Chlotetracyclin (mg/kg) max:
							td 100
						tr
							th(colspan="2") Nguyên liệu
						tr
							td(colspan="2") Bắp, tấm, đậu nành, khoai mì, bột thịt xương, khoáng tổng hợp, Crome, vitamin A, D, E, C, B2, B6, B12, Thiamin, Acid folic, Choline.
						tr
							th(colspan="2") Hướng dẫn sử dụng
						tr
							td(colspan="2") Cám đã đủ dưỡng chất, không cần pha trộn với các thực liệu khác.
			.col-12
				.product-other
					h2.page-title.text-center Sản phẩm khác
					.product-list
						.row
							article.col-12.col-sm-6.col-md-3
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/feed/pr1.png", alt="")
										figcaption
											h2.product-name
												a(href="#!") 550S - Heo sữa
							article.col-12.col-sm-6.col-md-3
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/feed/pr1.png", alt="")
										figcaption
											h2.product-name
												a(href="#!") 550S - Heo sữa
							article.col-12.col-sm-6.col-md-3
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/feed/pr1.png", alt="")
										figcaption
											h2.product-name
												a(href="#!") 550S - Heo sữa
							article.col-12.col-sm-6.col-md-3
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/feed/pr1.png", alt="")
										figcaption
											h2.product-name
												a(href="#!") 550S - Heo sữa
