section.food-page
	.food-bg
		img(src="img/food/product/bg2.jpg", alt="")
	.container
		.food-intro.text-center
			.food-name THỰC PHẨM chế biến
			.food-des Thực phẩm chế biến của CP được sáng tạo từ thành phần nguyên liệu tươi ngon với công thức chế biến tuyệt hảo nhằm mang đến những bữa ăn ngon cho mọi người.
			.food-img
				img(src="img/food/product/p2.png", alt="")
