section.food-page
	.food-bg
		img(src="img/food/product/bg4.jpg", alt="")
	.container
		.food-intro.text-center
			.food-name Thủy sản chế biến 
			.food-des Sản phẩm thuỷ sản chế biến CP đảm bảo mang lại các sản phẩm vệ sinh, an toàn và không có hóa chất với tiêu chuẩn cao nhất của CP, luôn tươi ngon và thỏa mãn mọi nhu cầu ẩm thực.
			.food-img
				img(src="img/food/product/p4.png", alt="")
