section.banner-page.clearfix
	.banner-img
		img(src="img/food/brthucphamtuoi.jpg", alt="")
	.container
		.page-intro
			h1.page-name Thực phẩm tươi
			.intro-content Chúng tôi sử dụng nguồn thực phẩm chất lượng cao, nuôi trong hệ thống trang trại hiện đại khép kín được kiểm soát nghiêm ngặt nhằm ngăn ngừa tuyệt đối dịch bệnh và nhiễm bẩn.
//- section.product-page.clearfix
	.container
		h1.home-title.text-center Thịt heo
		.product-intro
			.row.flex-content-center
				.col-12.col-lg-6
					.intro-img
						img(src="img/food/tp1.png", alt="")
				.col-12.col-lg-6
					.intro-content.content
						p Nhờ việc ứng dụng công nghệ trong phát triển di truyền học, Công ty Cổ phần Chăn nuôi C.P. Việt Nam sở hữu nguồn dự trữ con giống tốt, cung cấp heo giống vừa có khả năng chống chịu bệnh tốt, vừa cho tỷ lệ nạc cao. Áp dụng công nghệ quản lý chuồng trại của CPF, heo được nuôi trong hệ thống trại kín được kiểm soát nhiệt độ bằng hệ thống máy tính, thân thiện với môi trường. Heo CP được nuôi trong môi trường vệ sinh và an toàn, không bị nhiễm bệnh và không có tồn dư thuốc
				.col-12.col-lg-7
					.pig-map
						img(src="img/food/tp2.png", alt="", usemap="#pig-map")
						map#pig-map(name='pig-map')
							area(shape='poly', alt='', title='Thịt ba rọi', coords='170,152,212,158,248,160,240,167,241,175,248,184,269,191,313,195,368,191,372,220,379,243,360,243,329,252,302,258,270,261,218,259,198,257,170,252,159,248,164,205,168,173,168,173', href='img/food/p-baroi.jpg', target='', data-fancybox="pig-img")
							area(shape='poly', alt='', title='Thịt mông', coords='117,250,127,256,149,261,161,257,160,222,167,172,168,134,166,101,155,58,142,33,135,19,123,8,109,-4,92,6,63,25,44,48,25,97,20,120,27,137,35,158,38,175,42,189,52,210,59,220,67,229,121,241', href='img/food/p-mong.jpg', target='', data-fancybox="pig-img")
							area(shape='poly', alt='', title='Thịt thăn', coords='169,150,170,101,139,18,108,-5,238,3,305,8,346,19,376,22,397,18,381,40,371,73,365,108,364,143,338,149,295,157,244,160', href='img/food/p-than.jpg', target='', data-fancybox="pig-img")
							area(shape='poly', alt='', title='Thịt vai', coords='402,19,433,16,467,22,499,38,486,62,473,90,466,121,456,112,430,104,404,105,380,107,361,109,376,61,382,38,397,19', href='img/food/p-vai.jpg', target='', data-fancybox="pig-img")
							area(shape='poly', alt='', title='Thịt sườn non', coords='467,123,458,145,460,162,465,182,385,189,361,193,288,192,245,185,237,168,246,161,293,157,344,149,365,144,367,104,400,103,445,108', href='img/food/p-suonnon.png', target='', data-fancybox="pig-img")
							area(shape='poly', alt='', title='Thịt đầu', coords='503,38,527,55,585,21,581,32,573,44,591,38,608,39,612,40,598,45,597,63,591,84,591,92,605,105,617,129,620,143,638,156,653,161,655,166,654,180,651,204,637,203,621,199,610,200,600,209,577,211,566,206,554,211,539,207,501,153,468,123,477,83', href='img/food/p-dau.jpg', target='', data-fancybox="pig-img")
							area(shape='poly', alt='', title='Thịt nọng', coords='472,221,458,156,468,121,496,151,526,187,535,205,512,215,493,220,493,220', href='img/food/p-nong.png', target='', data-fancybox="pig-img")
							area(shape='poly', alt='', title='Thịt đùi', coords='421,261,430,262,458,257,462,235,473,219,468,201,462,176,362,189,374,227,378,241', href='img/food/p-dui.png', target='', data-fancybox="pig-img")
							area(shape='poly', alt='', title='Thịt chân', coords='423,263,439,263,453,258,453,290,455,307,441,310,436,307,436,307', href='img/food/p-chan.png', target='', data-fancybox="pig-img")
							area(shape='poly', alt='', title='Thịt móng', coords='439,312,452,303,462,319,472,331,484,342,468,353,456,352,442,331,428,322,428,322', href='img/food/p-mong.png', target='', data-fancybox="pig-img")
							area(shape='poly', alt='', title='Thịt chân', coords='159,262,157,281,165,298,148,300,135,293,117,279,116,254', href='img/food/p-chan.png', target='', data-fancybox="pig-img")
							area(shape='poly', alt='', title='Thịt móng', coords='166,300,180,317,199,336,197,344,191,341,187,348,175,346,157,325,147,323,135,295', href='img/food/p-mong.png', target='', data-fancybox="pig-img")
				.col-12.col-lg-5
					.pig-img
						figure
							.img
								img(src="img/food/p-baroi.jpg", alt="")
							figcaption Thịt ba rọi
				.col-12.col-lg-6
					.product-progress
						h3.cate-name Heo
						a.product-card(href="#!")
							img(src="img/food/pr16.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr17.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr18.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr19.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr20.png", alt="")
//- section.product-page.clearfix
	.container
		h1.home-title.text-center Thịt gà
		.page-des.text-center Thịt gà CP – thịt gà sạch chất lượng cao từ trang trại CP. Thịt gà tươi CP là một sản phẩm của Công ty Cổ phần Chăn nuôi C.P. Việt Nam – được ứng dụng công nghệ tốt nhất trong từng khâu sản xuất. Chúng tôi sử dụng giống gà chất lượng cao, nuôi trong hệ thống trang trại hiện đại khép kín được kiểm soát nghiêm ngặt bằng máy tính nhằm ngăn ngừa tuyệt đối dịch bệnh và nhiễm bẩn.
		.product-list
			.row.flex.flex-content-center
				.col-12.col-md-6.col-lg-4
					.product
						figure
							a.product-img(href="#!")
								img(src="img/food/t1.png", alt="")
							figcaption Cánh gà
				.col-12.col-md-6.col-lg-4
					.product
						figure
							a.product-img(href="#!")
								img(src="img/food/t2.png", alt="")
							figcaption Đùi gà
				.col-12.col-lg-6
					.product-progress
						h3.cate-name Gà
						a.product-card(href="#!")
							img(src="img/food/pr1.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr2.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr3.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr4.png", alt="")
						a.product-card(href="#!")
							img(src="img/food/pr5.png", alt="")
section.product-page.clearfix
	.container
		h1.home-title.text-center Trứng
		.page-des.text-center Gà đẻ trứng của CP có sức kháng bệnh tốt và có năng suất cao, cho ra những quả trứng sạch. Gà đẻ được nuôi trong trại kín có hệ thống làm mát được quản lý bằng máy tính. Trứng CP thành phẩm sạch và không nhiễm khuẩn.
		.product-list
			.row.flex.flex-content-center
				.col-12.col-md-6.col-lg-4
					.product
						figure
							a.product-img(href="#!")
								img(src="img/food/t3.png", alt="")
							figcaption Trứng gà tươi