section.food-page
	.food-bg
		img(src="img/food/product/bg3.jpg", alt="")
	.container
		.food-intro.text-center
			.food-name Xúc xích
			.food-des Xúc xích CP được chế biến từ thịt heo và gà chất lượng cao do chính CP phát triển giống và nuôi theo qui trình chăn nuôi khép kín 3F nghiêm ngặt nhằm ngăn ngừa dịch bệnh và nhiễm bẩn.
			.food-img
				img(src="img/food/product/p3.png", alt="")
