section.food-page
	.food-bg
		img(src="img/food/product/bg1.jpg", alt="")
	.container
		.food-intro.text-center
			.food-name Thực phẩm tươi
			.food-des Chúng tôi sử dụng nguồn thực phẩm chất lượng cao, nuôi trong hệ thống trang trại hiện đại khép kín được kiểm soát nghiêm ngặt nhằm ngăn ngừa tuyệt đối dịch bệnh và nhiễm bẩn.
			.food-img
				img(src="img/food/product/p1.png", alt="")
